<header id="site-header" role="banner">
  <nav class="mx-auto my-3 navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="/">
      <img src="assets/img/header/logo.png" width="100" height="100" alt="">
    </a>
    <div class="d-flex flex-column">
      <div class="brand"><b>柒点国际艺术留学</b></div>
      <div class="text-muted">TEL | 178 8790 7994</div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <div class="navbar-nav">
        <a class="ml-1 nav-item nav-link" routerLink="/home" routerLinkActive="active">首页</a>
        <a class="ml-1 nav-item nav-link" routerLink="/tutors" routerLinkActive="active">艺术导师</a>
        <a class="ml-1 nav-item nav-link" routerLink="/courses" routerLinkActive="active">作品集辅导</a>
        <a class="ml-1 nav-item nav-link" routerLink="/colleges" routerLinkActive="active">艺术院校</a>
        <a class="ml-1 nav-item nav-link" routerLink="/majors" routerLinkActive="active">艺术专业</a>
        <a class="ml-1 nav-item nav-link" routerLink="/info" routerLinkActive="active">艺术咨讯</a>
        <a class="ml-1 nav-item nav-link" routerLink="/about-us" routerLinkActive="active">关于我们</a>
      </div>
    </div>
  </nav>
</header>
<!-- header -->