#site-header > div {
    background-size: cover;
    min-height: 500px;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #e5c13e !important;
    border-bottom: 4px solid #e5c13e;
}

.nav-link.active  {
    border-bottom: 4px solid #e5c13e;
}
