<footer id="site-footer" [style.background-image]="'url(http://static.motionsh.cn/images/footer.jpg)'">
  <div class="w-70 mx-auto">
    <div class="pt-6 pb-2 text-sm-center">
      <h4>柒点故事</h4>
      <h4>SEVEN STORY</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto">
    <div class="py-5 text-sm-center text-white-50">
      <p>  
        国际艺术留学教育是一家专于创新与实践的艺术留学机构，<br>
        团队均为留学归国科班出生的硕士研究生及以上成员。<br>
        公司致力于发展，提高现代艺术内涵，<br>
        专注于目标群体的“素质教育”，<br>
        并且营造全新良好的艺术留学的市场环境。<br>
        主要会以线上，线下的形式进行辅导，讲座。<br>
        我们希望将艺术留学的市场开创出新的结晶。<br>
      </p>
    </div>
  </div>
    <div class="w-70 mx-auto">
    <div class="pt-6 pb-2 text-sm-center">
      <h4>艺术院校</h4>
      <h4>ART INSTITUTIONS</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto">
    <div class="py-5">
      <div class="d-flex flex-row flex-wrap justify-content-between">
        <div class="mb-2">
          <img src="./assets/img/partner/CAM.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/CCA.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/EDA.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/Goldsmiths.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/Parsons.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/Pratt.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/RCA.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/RCM.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/RSID.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/SCAD.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/SFAI.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/SVA.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/UAL.png" width=120/>
        </div>
        <div class="mb-2">
          <img src="./assets/img/partner/UCA.png" width=120/>
        </div>
      </div>
      <div class="w-90 mx-auto pt-5 d-flex flex-row flex-wrap justify-content-between text-white-50">
        <div>
          <img src="./assets/img/footer/qr_code.jpg" width=150/>
          <div class="text-left">
            <br>
            TEL: 178 8790 7994
            <br>
            EMAIL: art@7apm.cn
          </div>
        </div>
        <div class="align-self-end">
          <iframe [src]="getIframeSrc()" scrolling="no" frameborder="0" width="400" height="150"></iframe>
          <div class="text-right">
            <br>
            上海市静安区南京西路819号中创大厦3楼
            <br>
            地铁南京西路2号线，12号线，13号线可直达
          </div>
        </div>
      </div>
    </div>
    <div class="pb-2">
      <nav class="nav flex-column flex-sm-row justify-content-center">
        <a class="text-sm-center text-white-50 nav-link" routerLink="/about-us">关于我们</a>
        <a class="text-sm-center text-white-50 nav-link" routerLink="/contact-us">联系我们</a>
        <a class="text-sm-center text-white-50 nav-link" routerLink="/career">人才招募</a>
      </nav>
    </div>
  </div>
  <div class="text-sm-center bg-secondary">
    copyright
  </div>
</footer>
<!-- footer -->