<section id="college-detail">
  <div *ngIf="(college$ | async) as college; else loading">
    <div class="banner" [style.background-image]="'url('+ college.bannerUrl +')'">
      <div class="w-75 mx-auto pt-8 d-flex flex-row align-items-center text-white">
        <div>
          <img [src]="college.logoUrl" width=100/>
        </div>
        <div class="ml-3">
          <h3>{{college.name.zh}}<br>{{college.name.en}}</h3>
        </div>
      </div>
    </div>
    <div class="w-75 mx-auto d-flex flex-column">
      <div class="mt-5">
        <h4>院校介绍</h4><br>
        {{college.introduction}}
      </div>
      <div class="mt-5 d-flex flex-row flex-nowrap">
        <div *ngIf="activeTab === Tabs.Majors" class="w-25 pr-5 pt-7 d-flex flex-column">
          <div class="pl-4 text-warning">
            本科专业
          </div>
          <hr class="mx-0 bg-warning">
          <div class="pl-4 mt-4 d-flex flex-column">
            <a *ngFor="let major of college.bachelorMajors" [ngx-scroll-to]="'#' + major.id">{{major.name}}</a>
          </div>
          <div class="pl-4 mt-4 text-warning">
            研究生专业
          </div>
          <hr class="mx-0 bg-warning">
          <div class="pl-4 d-flex flex-column">
            <a *ngFor="let major of college.masterMajors" [ngx-scroll-to]="'#' + major.id">{{major.name}}</a>
          </div>
        </div>
        <div *ngIf="activeTab === Tabs.Application" class="w-25 pr-5 pt-7 d-flex flex-column">
          <div class="pl-4 text-warning">
            申请要求
          </div>
          <hr class="mx-0 bg-warning">
          <div class="pl-4 mt-4 d-flex flex-column">
            <a ngx-scroll-to="#bachelor">本科生</a>
            <a ngx-scroll-to="#master">研究生</a>
          </div>
        </div>
        <div *ngIf="activeTab === Tabs.Tuition" class="w-25 pr-5 pt-7 d-flex flex-column">
          <div class="pl-4 text-warning">
            学费明细
          </div>
          <hr class="mx-0 bg-warning">
          <div class="pl-4 mt-4 d-flex flex-column">
            <a ngx-scroll-to="#fees">预算项目</a>
          </div>
        </div>
        <div class="w-75 pl-5 d-flex flex-column flex-grow-1">
          <!-- Nav tabs -->
          <nav class="nav nav-pills flex-column flex-sm-row justify-content-between">
            <a class="flex-sm-fill text-sm-center nav-item nav-link bg-transparent active" id="majors-tab" data-toggle="tab" href="#majors" role="tab" aria-controls="majors" aria-selected="true" (click)="activeTab=Tabs.Majors">
              <div class="text-center">
                <span>院校专业<br/>MAJORS</span>
              </div>
            </a>
            <a class="flex-sm-fill text-sm-center nav-item nav-link bg-transparent" id="application-tab" data-toggle="tab" href="#application" role="tab" aria-controls="application" aria-selected="false" (click)="activeTab=Tabs.Application">
              <div class="text-center">
                <span>申请要求<br/>APPLICATION</span>
              </div>
            </a>
            <a class="flex-sm-fill text-sm-center nav-item nav-link bg-transparent" id="tuition-tab" data-toggle="tab" href="#tuition" role="tab" aria-controls="tuition" aria-selected="false" (click)="activeTab=Tabs.Tuition">
              <div class="text-center">
                <span>学费明细<br/>TUITION</span>
              </div>
            </a>
          </nav>
          <hr class="mx-0 bg-warning">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="majors" role="tabpanel" aria-labelledby="majors-tab">
              <br><br>
              <h5>本科生</h5>
              <br><br>
              <div *ngFor="let major of college.bachelorMajors">
                <a [id]="major.id">{{major.name}}</a>
                <br>
                {{major.description}}
                <br><br>
              </div>
              <hr>
              <br><br>
              <h5>研究生</h5>
              <br><br>
              <div *ngFor="let major of college.masterMajors">
                <a [id]="major.id">{{major.name}}</a>
                <br>
                {{major.description}}
                <br><br>
              </div>
            </div>
            <div class="tab-pane" id="application" role="tabpanel" aria-labelledby="application-tab">
              <br><br>
              <h5 id="bachelor">本科生</h5>
              <div class="my-5" [innerHTML]="college.application.bachelor | safeHtml"></div>
              <hr>
              <br><br>
              <h5 id="master">研究生</h5>
              <div class="my-5" [innerHTML]="college.application.master | safeHtml"></div>
            </div>
            <div class="tab-pane" id="tuition" role="tabpanel" aria-labelledby="tuition-tab">
              <br><br>
              <h5 id="fees">预算项目</h5>
              <br><br>
              <div *ngFor="let fee of college.tuition.formattedFees">
                {{fee.name}} —— {{fee.price}}
                <br><br>
              </div>
              总预算 —— {{college.tuition.totalFee}}
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div>
      加载院校数据。。。
    </div>
  </ng-template>
  
</section>
<!-- college detail -->
<app-promotions></app-promotions>