<section id="about-us">
  <div class="banner" [style.background-image]="'url(http://static.7apm.cn/images/about_us.jpg)'">
    <div class="w-70 mx-auto pt-8 text-white">
      <div>
        <h3>关 于 我 们 ABOUT US</h3>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto d-flex flex-column">
    <div class="w-100 my-4 px-2 d-flex flex-row flex-nowrap justify-content-between">
      <div class="text-center">
        <div>
          <img src="./assets/img/about-us/topicon/icon-1.png" width=80/>
        </div>
        <div>
          高水准团队1对1私人辅导<br>
          均为国际顶尖艺术院校<br>
          对口专业与丰富的经验<br>
          一对一辅导的极致体验
        </div>
      </div>
      <div class="text-center">
        <div>
          <img src="./assets/img/about-us/topicon/icon-2.png" width=80/>
        </div>
        <div>
          完善的体系来把控教学质量<br>
          线上互动＋线上作品＋实地实践<br>
          针对国内外名校体系进行辅导<br>
          区别于传统机构主打创新教学
        </div>
      </div>
      <div class="text-center">
        <div>
          <img src="./assets/img/about-us/topicon/icon-3.png" width=80/>
        </div>
        <div>
          不仅仅是一家艺术留学机构<br>
          一站式由前至后包围式服务<br>
          与之携手举办各种展览展会<br>
          与各大知名企业建立合作
        </div>
      </div>
    </div>
    <hr class="divider border-warning">
    <div class="mt-4 text-center text-primary">
      越是长大就越相信, <br>
      有的人早上是真的能 秒记百词, <br>
      有的人晚上是真的 灵感暴击。<br>
      我们相信“ 7 ”这个神秘的时间点，<br>
      代表了一天中的开始,<br>
      无论你是7AM的早起鸟，还是7PM的夜猫子
    </div>
    <div class="my-6 w-100">
      <img src="./assets/img/about-us/pic-5.jpg" class="w-100"/>
    </div>
    <div>
      7APM（柒点国际艺术留学教育）是一所新成立的国际艺术留学教育机构。 
      坐落于上海最繁华的地段——南京西路。 采用一站式由前至后的留学服务， 并以各国优秀的留学人才作为核心指导力量。 
      我们专注于“语言辅导” “留学规划&艺术作品集辅导”以及“After offer辅助”。
    </div>
    <div>
      <h5 class="my-4 text-warning">
        归国落户（上海）
      </h5>
      适用人群于7APM学员， 符合学历资质范围的海归， 留学归国来沪工作者或创业者。<br>
      于7APM填写落户意向表       →       留学归国       →       7APM进行网申并准备辅助材料              7APM递送于相关部门受理申请     →         
      等待完成批复      →        办理户口迁移手续       →       完成落户
    </div>
    <div>
      <h5 class="my-4 text-warning">
        After offer辅助
      </h5>
      7APM与各大企业合作，给学生提供了大方向。我们不仅是一家留学机构，更是学生的加油站。
      很多人单纯的将留学市场限制在了出国留学，但这个潜在市场其实包含了出国留学与海归归国两个场景下的服务方向。
      留学生回国人数的拐点大概会在5年内出现。意味着，留学毕业生对于国内求职的需求会逐渐增大，那么将来对于留学生来说，落户的需求也会呈较大的上升趋势。
      而在7.APM，你完全不用担心。我们认为，一站式由前至后的“包围式”留学服务至关重要。
    </div>
    <div class="my-5 w-100 d-flex flex-row flex-nowrap justify-content-center align-items-center">
      <div class="mx-2 d-flex flex-column">
        <img src="./assets/img/about-us/after01.png" width=120/>
        <div class="text-center">
          社交网络平台推广<br>
          作品进行版权化
        </div>
      </div>
      <div class="mx-2">
        <img src="./assets/img/about-us/arrow.png" width=50/>
      </div>
      <div class="mx-2 d-flex flex-column">
        <img src="./assets/img/about-us/after02.png" width=120/>
        <div class="text-center">
          推广众筹
        </div>
      </div>
      <div class="mx-2">
        <img src="./assets/img/about-us/arrow.png" width=50/>
      </div>
      <div class="mx-2 d-flex flex-column">
        <img src="./assets/img/about-us/after03.png" width=120/>
        <div class="text-center">
          发觉经济价值<br>
          提升学生自信
        </div>
      </div>
    </div>
    <div>
      7APM给学生提供一个属于自己的平台。对学生进行包装以商业化放出；还会与学生一起举办艺术展览，演出，使他们提升自信与自身的商业价值。
    </div>
    <div class="my-6 d-flex flex-row flex-wrap">
      <div class="w-50">
        <img src="./assets/img/about-us/pic-1.jpg" class="w-100"/>
      </div>
      <div class="w-50">
        <img src="./assets/img/about-us/pic-2.jpg" class="w-100"/>
      </div>
      <div class="w-50">
        <img src="./assets/img/about-us/pic-3.jpg" class="w-100"/>
      </div>
      <div class="w-50">
        <img src="./assets/img/about-us/pic-4.jpg" class="w-100"/>
      </div>
    </div>
    <div>
      <h5 class="my-4 text-warning">
        语言辅导
      </h5>
      7APM为提供保证学生作品集的质量和申请成功率，拥有足够的信心为学生打下良好基础。 
      我们虽没有雄厚的外资导师力量， 但我们的团队成员均来自国内外顶级学府。 
      根据各大外国学校的对比发现： 即便你的英语语言水平没有达到你所申请大学的学术英语要求， 
      通常情况下伦敦的大学也会接受你的课程申请并给予你“有条件录取通知书”， 
      持有该录取通知书的同学可以进行留学所需的签证申请， 但最终能否就读该大学则取决于学生能否通过适合的英语考试。
    </div>
    <div class="mb-7">
      <h5 class="my-4 text-warning">
        留学规划&艺术作品集辅导
      </h5>
      7APM不局限于热门专业， 我们坚信”Nothing is impossible to a willing heart”的理念。 
      利用手头上的资源给学生提供最全面的国外院校多样化的专业信息。 让学生对于自己的留学方向有一定概念。
      我们追逐的教学模式区别于传统机构。 配合上海的地理优势， 在辅导过程中， 会带领学生去往不同的艺术展览与workshop设计工坊进行体验讲解， 让学生们能够对于艺术更深层次的理解。 
      并且我们将会采用线上互动的方式来给予学生最便捷轻松的教育方式。 
      在7APM， 一切以学生利益至上， 我们会对学生的优秀作品进行包装， 放于平台。 
      使学生提升自信与自身的商业价值。 我们还将会举办艺术展览、 演出， 并由学生亲自参与其中。 
      使之全方位提升。
    </div>
  </div>
</section>
<!-- about-us -->
<app-promotions></app-promotions>