<section id="college-list">
  <div class="banner" [style.background-image]="'url(./assets/img/header/colleagues.jpg)'">
    <h1 style="padding-top: 8em; padding-left: 6em; color: #3e3e96;">
      MASTER OF ART. 7APM
      <br>
      <u style="text-decoration: underline #ffff6a;">A</u>CTION IS THE FOUNDATIONALKEY.
      <br>
      TO ALL SUCCESS.
      <br>
      ---- PABLO PICASSO
    </h1>
  </div>
  <div class="w-70 mx-auto mt-5 mb-5 d-flex flex-column">
    <div class="input-group">
      <input class="form-control border border-warning" placeholder="输入关键字">
      <span class="input-group-append">
        <button class="btn btn-outline-warning" type="button">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </span>
    </div>
    <div class="mt-1 ml-1 text-black-50">
      <span>
        <b>热门搜索</b> 帕森斯设计学院 | 罗德岛设计学院 | 中央圣马丁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>学历</b> 全部 本科 研究生
      </span>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 mb-7 d-flex flex-column">
    <div class="w-80 mx-auto d-flex flex-row justify-content-around">
      <div class="text-center" (click)="region='us'">
        美国<br>
        UNITED STATES
      </div>
      <div class="text-center" (click)="region='gb'">
        英国<br>
        UNITED KINDOM
      </div>
      <div class="text-center" (click)="region='rest'">
        其他<br>
        OTHERS
      </div>
    </div>
    <hr class="mb-0 border-warning">
    <div [ngSwitch]="region">
      <img *ngSwitchCase="'us'" class="w-100" src="./assets/img/colleagues/map/usa.png"/>
      <img *ngSwitchCase="'gb'" class="w-100" src="./assets/img/colleagues/map/usa.png"/>
      <img *ngSwitchCase="'rest'" class="w-100" src="./assets/img/colleagues/map/usa.png"/>
    </div>
    <div *ngIf="(pagedColleges$ | async) as colleges">
      <div class="d-flex flex-column">
        <div *ngFor="let college of colleges[currentPage]">
          <div class="w-90 mx-auto mt-3 d-flex flex-row flex-wrap justify-content-start align-items-center">
            <div class="mr-3 w-40">
              <a [routerLink]="'/colleges/' + college.id">
                <img src="./assets/img/colleagues/parsons.jpg" class="w-100"/>
              </a>
            </div>
            <div class="ml-3">
              留学预算：{{college.tuition.totalFee}}<br>
              语言成绩：托福{{college.application.master.requirement.language.toefl}} / 雅思{{college.application.master.requirement.language.ielts}}<br>
              申请截止：
              <ng-container *ngIf="college.application.master.deadline as deadline">
                {{deadline.beforehand ? '早申' + deadline.beforehand + ' / 常规' + deadline.standard : deadline.standard}}
              </ng-container>
              <br>
              优质专业：
              <ng-container *ngFor="let major of college.popularMajors; last as isLast">
                {{isLast ? major.name : major.name + ' / '}}
              </ng-container>
              ...
            </div>
            <div class="w-100 mt-2 d-flex justify-content-end">
              <button type="button" class="btn btn-light rounded-0" [routerLink]="'/colleges/' + college.id">了解申请流程</button>
              <button type="button" class="ml-2 btn btn-light rounded-0" disabled>获取留学方案</button>
            </div>
          </div>
          <hr class="divider">
        </div>
      </div>
      <div class="mt-4 d-flex flex-row flex-wrap justify-content-end align-items-center">
        <span *ngIf="currentPage > 0; else hidden" class="mx-4 bg-transparent border-bottom border-right left" (click)="currentPage=currentPage-1"></span>
        <span *ngFor="let page of colleges | pagination" class="dot mx-4 rounded bg-dark" [class.active]="page === currentPage" (click)="currentPage=page">
          {{page+1}}
        </span>
        <span *ngIf="currentPage < colleges.length - 1; else hidden" class="mx-4 bg-transparent border-bottom border-right right" (click)="currentPage=currentPage+1"></span>
        <ng-template #hidden>
          <span class="mx-4 bg-transparent right"></span>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<!-- college list -->
<app-promotions></app-promotions>
