.thumbnail {
    margin-left: 4em;
    margin-right: 4em;
}

.summary {
    font-size: 80%;
    line-height: 200%
}

.buttons {
    width: 100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-right: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.button:hover {
    color: #ffff18;
}

.dot {
    height: 8px;
    width: 8px;
    line-height: 50px;
}

.dot:hover,
.dot.active {
    background-color: #e5c13e !important;
    color: #e5c13e;
}

.hover-text:hover,
.hover-text.active {
    cursor: pointer;
    color: #e5c13e;
}

.left {
    border-width: 0 2px 2px 0;
    padding: 8px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    border-width: 0 2px 2px 0;
    padding: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
