<section id="college-list">
  <div class="banner" [style.background-image]="'url(http://static.motionsh.cn/images/colleges.jpg)'"></div>
  <div class="w-70 mx-auto mt-5 mb-5 d-flex flex-column">
    <div class="input-group">
      <input class="form-control border border-warning" placeholder="输入关键字">
      <span class="input-group-append">
        <button class="btn btn-outline-warning" type="button">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </span>
    </div>
    <div class="mt-1 ml-1 text-black-50">
      <span>
        <b>热门搜索</b> 帕森斯设计学院 | 罗德岛设计学院 | 中央圣马丁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>学历</b> 全部 本科 研究生
      </span>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 mb-7 d-flex flex-column">
    <div class="w-80 mx-auto mb-4 d-flex flex-row justify-content-around">
      <div class="text-center hover-text" [class.active]="realIndex === 0" (click)="slideToLoop(0)">
        美国<br>
        UNITED STATES
      </div>
      <div class="text-center hover-text" [class.active]="realIndex === 1" (click)="slideToLoop(1)">
        英国<br>
        UNITED KINDOM
      </div>
      <div class="text-center hover-text" [class.active]="realIndex === 2" (click)="slideToLoop(2)">
        其他<br>
        OTHERS
      </div>
    </div>
    <hr class="mb-0 border-warning">
    <!-- Swiper -->
    <div class="w-100 swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="w-100" src="http://static.motionsh.cn/images/map_us.jpg"/>
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="http://static.motionsh.cn/images/map_uk.jpg"/>
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="http://static.motionsh.cn/images/map_rest.jpg"/>
        </div>
      </div>
    </div>
    <div *ngIf="(pagedColleges$ | async) as colleges">
      <div id="college-page" class="d-flex flex-column">
        <div *ngFor="let college of colleges[currentPage]">
          <div class="w-90 mx-auto mt-3 d-flex flex-row flex-wrap justify-content-start align-items-center">
            <div class="mr-3 w-40">
              <a [routerLink]="'/colleges/' + college.id">
                <img [src]="college.thumbnailUrl" class="w-100"/>
              </a>
            </div>
            <div class="ml-3">
              留学预算：{{college.tuition.totalFee}}<br>
              <ng-container *ngIf="college.abstract.requirement">
                语言成绩：{{college.abstract.requirement}}<br>
              </ng-container>
              <ng-container *ngIf="college.abstract.deadline">
                申请截止：{{college.abstract.deadline}}<br>
              </ng-container>
              优质专业：
              <ng-container *ngFor="let major of college.popularMajors; last as isLast">
                {{isLast ? major.name : major.name + ' / '}}
              </ng-container>
              ...
            </div>
            <div class="w-100 mt-2 d-flex justify-content-end">
              <button type="button" class="btn btn-light rounded-0" [routerLink]="'/colleges/' + college.id">了解申请流程</button>
              <button type="button" class="ml-2 btn btn-light rounded-0" disabled>获取留学方案</button>
            </div>
          </div>
          <hr class="divider">
        </div>
      </div>
      <div class="mt-4 d-flex flex-row flex-wrap justify-content-end align-items-center">
        <span *ngIf="currentPage > 0; else hidden" class="mx-4 bg-transparent border-bottom border-right border-dark left" (click)="previousPage()"></span>
        <span *ngFor="let page of colleges | pagination" class="dot mx-4 rounded bg-dark" [class.active]="page === currentPage" (click)="gotoPage(page)">
          {{page+1}}
        </span>
        <span *ngIf="currentPage < colleges.length - 1; else hidden" class="mx-4 bg-transparent border-bottom border-right border-dark right" (click)="nextPage()"></span>
        <ng-template #hidden>
          <span class="mx-4 bg-transparent right"></span>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<!-- college list -->
<app-promotions></app-promotions>
