<section id="tutor-list">
  <div class="slogan" [style.background-image]="'url(./assets/img/header/tutors.jpg)'">
    <h1 style="padding-top: 11em; padding-left: 6em; color: white;">
      WE ARE 7APM. MORE THAN
      <br>
      <u style="text-decoration: underline #ffff6a;">A</u>N EDUCATIONAL INSTITUTION.
    </h1>
  </div>
  <div class="w-70 mx-auto mt-4 mb-6 d-flex flex-column">
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="position-relative text-center text-nowrap font-8p">
        <img src="./assets/img/tutors/01.png" width=120/>
        <div class="position-absolute overflow">国内外顶尖艺术院校</div>
      </div>
      <div class="position-relative text-center font-8p">
        <img src="./assets/img/tutors/02.png" width=120/>
        <div class="position-absolute overflow">对口专业丰富经验</div>
      </div>
      <div class="position-relative text-center font-8p">
        <img src="./assets/img/tutors/03.png" width=120/>
        <div class="position-absolute overflow">创意轻松的教学模式</div>
      </div>
      <div class="position-relative text-center font-8p">
        <img src="./assets/img/tutors/04.png" width=120/>
        <div class="position-absolute overflow">1对1的全方位辅导</div>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">团队导师</h4>
      <h4 class="text-center text-warning">OUR INSTRUCTORS</h4>
    </div>
  </div>
  <hr class="border-warning">
  <div class="w-70 mx-auto mt-5 mb-5 d-flex flex-column">
    <div class="slide d-flex flex-row flex-wrap justify-content-between" *ngIf="slideIndex===1" [@fadeInOut]>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/H.Chenchen.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>英国皇家艺术学院<br/>产品设计 & 陶瓷与玻璃  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/yiman.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁设计与艺术学院<br/>叙事性环境专业  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/L.Kaichen.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁设计艺术学院<br/>创意产业管理  硕士<br/>美国旧金山艺术学院  艺术学</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Y.Manchee.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁艺术&设计学院<br/>视觉传达设计系  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Raiden Zhou.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>伦敦艺术大学<br/>多媒体数字舞台  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Henry Lawrence.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>UAL Camberwell College of<br/>Art MA Visual Arts</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/L.Kaichen.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁设计艺术学院<br/>创意产业管理  硕士<br/>美国旧金山艺术学院  艺术学</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Y.Manchee.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁艺术&设计学院<br/>视觉传达设计系  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Raiden Zhou.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>伦敦艺术大学<br/>多媒体数字舞台  硕士</span>
        </div>
      </div>
    </div>
    <div class="slide d-flex flex-row flex-wrap justify-content-between" *ngIf="slideIndex===2" [@fadeInOut]>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/H.Chenchen.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>英国皇家艺术学院<br/>产品设计 & 陶瓷与玻璃  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/yiman.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁设计与艺术学院<br/>叙事性环境专业  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/L.Kaichen.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁设计艺术学院<br/>创意产业管理  硕士<br/>美国旧金山艺术学院  艺术学</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Y.Manchee.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁艺术&设计学院<br/>视觉传达设计系  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Raiden Zhou.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>伦敦艺术大学<br/>多媒体数字舞台  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Henry Lawrence.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>UAL Camberwell College of<br/>Art MA Visual Arts</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/L.Kaichen.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁设计艺术学院<br/>创意产业管理  硕士<br/>美国旧金山艺术学院  艺术学</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Y.Manchee.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁艺术&设计学院<br/>视觉传达设计系  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Raiden Zhou.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>伦敦艺术大学<br/>多媒体数字舞台  硕士</span>
        </div>
      </div>
    </div>
    <div class="slide d-flex flex-row flex-wrap justify-content-between" *ngIf="slideIndex===3" [@fadeInOut]>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/H.Chenchen.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>英国皇家艺术学院<br/>产品设计 & 陶瓷与玻璃  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/yiman.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁设计与艺术学院<br/>叙事性环境专业  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/L.Kaichen.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁设计艺术学院<br/>创意产业管理  硕士<br/>美国旧金山艺术学院  艺术学</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Y.Manchee.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁艺术&设计学院<br/>视觉传达设计系  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Raiden Zhou.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>伦敦艺术大学<br/>多媒体数字舞台  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Henry Lawrence.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>UAL Camberwell College of<br/>Art MA Visual Arts</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/L.Kaichen.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁设计艺术学院<br/>创意产业管理  硕士<br/>美国旧金山艺术学院  艺术学</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Y.Manchee.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>中央圣马丁艺术&设计学院<br/>视觉传达设计系  硕士</span>
        </div>
      </div>
      <div class="w-30 mb-5">
        <img src="./assets/img/tutors/portrait/Raiden Zhou.png" class="w-100"/>
        <div class="w-100 mt-2 text-center">
          <span>伦敦艺术大学<br/>多媒体数字舞台  硕士</span>
        </div>
      </div>
    </div>
    <div class="py-5 d-flex flex-row flex-wrap justify-content-end">
      <span class="dot" [class.active]="slideIndex===1" (click)="slideIndex=1"> 1 </span>
      <span class="dot" [class.active]="slideIndex===2" (click)="slideIndex=2"> 2 </span>
      <span class="dot" [class.active]="slideIndex===3" (click)="slideIndex=3"> 3 </span>
    </div>
  </div>
</section>
<!-- tutor list -->
<app-promotions></app-promotions>
