<section id="tutor-list">
  <div class="banner" [style.background-image]="'url(./assets/img/tutors/banner.jpg)'">
    <h1 style="padding-top: 11em; padding-left: 6em; color: white;">
      WE ARE 7APM. MORE THAN
      <br>
      <u style="text-decoration: underline #ffff6a;">A</u>N EDUCATIONAL INSTITUTION.
    </h1>
  </div>
  <div class="w-70 mx-auto mt-4 mb-6 d-flex flex-column">
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="position-relative text-center text-nowrap font-8p">
        <img src="./assets/img/tutors/01.png" width=120/>
        <div class="position-absolute overflow">国内外顶尖艺术院校</div>
      </div>
      <div class="position-relative text-center font-8p">
        <img src="./assets/img/tutors/02.png" width=120/>
        <div class="position-absolute overflow">对口专业丰富经验</div>
      </div>
      <div class="position-relative text-center font-8p">
        <img src="./assets/img/tutors/03.png" width=120/>
        <div class="position-absolute overflow">创意轻松的教学模式</div>
      </div>
      <div class="position-relative text-center font-8p">
        <img src="./assets/img/tutors/04.png" width=120/>
        <div class="position-absolute overflow">1对1的全方位辅导</div>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">团队导师</h4>
      <h4 class="text-center text-warning">OUR INSTRUCTORS</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto mt-5 mb-5">
    <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/B.Tian.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>美国萨凡纳艺术与设计学院<br>室内空间设计 硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/C.Shihui.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>上海音乐学院 音乐作曲 博士<br>德国汉堡音乐和戏剧学院 硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/Encore Zhou.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>罗德岛设计学院<br>纯艺术 硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/Estela Mi.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>诺丁汉特伦特大学<br>平面设计 硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/Henry Lawrence.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>Camberwell College of Art<br/>Visual Arts MA</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/H.Chenchen.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>
              英国皇家艺术学院<br>
              陶瓷与玻璃 硕士<br>
              中央圣马丁艺术设计学院<br>
              家具陶瓷与珠宝 硕士<br>
              中央美术学院<br>
              产品设计
            </span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/H.Qiwen.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>
              爱丁堡大学<br>
              景观&amp;建筑设计MLA 硕士
            </span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/L.Kaichen.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>中央圣马丁设计艺术学院<br>创意产业管理 硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/Y.Manchee.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>中央圣马丁艺术与设计学院<br>传达设计 硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/D.Shaohan.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>英国创意艺术大学<br>时尚行销/艺术 硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/Q.BeiWen.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>爱丁堡大学(March )建筑学 硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/Raiden Zhou.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>
              伦敦艺术大学<br>
              数字舞台 硕士<br>
              上海音乐学院<br>
              多媒体艺术设计
            </span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/W.Ruizhi.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>
              伦敦艺术大学<br>
              多媒体戏剧 硕士<br>
              上海戏剧学院<br>
              戏剧影视文学
            </span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/Raiden Zhou.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>伦敦艺术大学<br/>多媒体数字舞台  硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/Tiffany Yao.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>中央圣马丁艺术设计学院<br>建筑学（空间设计）硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/W.Xinyan.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>伦敦艺术大学切尔西艺术学院<br>策展与收藏 硕士<br/>美国旧金山艺术学院  艺术学</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/W.Shuang.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>伦敦艺术大学温布尔登艺术学院<br>纯艺 绘画 硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/yiman.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>中央圣马丁设计与艺术学院<br>叙事性环境 硕士</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/tutors/portrait/C.Zoe.png" class="w-100"/>
          <div class="w-100 mt-2 text-center">
            <span>法国南特大西洋设计学院<br>责任创新设计 硕士</span>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- tutor list -->
<app-promotions></app-promotions>
