<section id="tutor-detail" class="d-flex flex-column flex-nowrap">
  <div id="tutor-profile" class="d-flex flex-row flex-wrap justify-content-center align-items-center">
    <img src="./assets/img/tutors/B.Tian.png" width=200/>
    <div>
      H.Yiman
      <br>
      中央圣马丁设计与艺术学院
    </div>
  </div>
  <div id="tutor-highlights">
    2017年 上海Auditoire活动创意策划人<br>
    2016年 伦敦innovision 3D设计师<br>
    2016年 作为国际团队受邀与中国美术学院合作<br>
    参与鼓浪屿申遗文化探索
  </div>
  <div class="d-flex flex-row flex-nowrap justify-content-center align-items-center">
    <img src="./assets/img/qr_code.jpg" width=300/>
  </div>
  <div id="tutor-portfolios" class="d-flex flex-row flex-wrap">
    <div class="d-flex justify-content-end align-items-center">
      <img src="./assets/img/qr_code.jpg" width=300/>
    </div>
    <div class="d-flex justify-content-start align-items-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Proin a condimentum urna. Nunc facilisis hendrerit mollis. 
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
      per inceptos himenaeos. 
      Donec interdum magna ac lectus laoreet condimentum. Sed ut aliquam sem, vel rhoncus magna. Aliquam tempor mauris id dui cursus, eu.
    </div>
  </div>
  <div class="pagination">
    <span class="btn active"></span>
    <span class="btn"></span>
    <span class="btn"></span>
  </div>
</section>
<!-- tutor detail -->
<app-promotions></app-promotions>