<section id="courses">
  <div class="banner" [style.background-image]="'url(./assets/img/courses/banner.jpg)'"></div>
  <div class="w-70 mx-auto mt-5 mb-6 d-flex flex-column">
    <div class="d-flex flex-row flex-nowrap justify-content-between">
      <div class="w-25 position-relative">
        <img src="./assets/img/home/left.png" class="w-100"/>
        <div class="w-100 text-center position-absolute centered">
          <span>高水准团队<br/>1对1私人辅</span>
        </div>
      </div>
      <div class="w-25 position-relative">
        <img src="./assets/img/home/middle.png" class="w-100"/>
        <div class="w-100 text-center position-absolute centered">
          <span>完善的体系<br/>控教学质量</span>
        </div>
      </div>
      <div class="w-25 position-relative">
        <img src="./assets/img/home/right.png" class="w-100"/>
        <div class="w-100 text-center position-absolute centered">
          <span>不仅仅是一家<br/>艺术留学机构</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">学校流程</h4>
      <h4 class="text-center text-warning">EDUCATIONAL PROCESS</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto mt-5 mb-6 d-flex flex-column">
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-1.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>全方位评估</b><br/>
            从五个纬度对学生进行全面完善的能力评估，<br/>
            制定专属培训方案。
          </span>
        </div>
      </div>
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-2.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>1对1基础项目辅导</b><br/>
            夯实基础，重塑艺术思维方式，完成基础项目。
          </span>
        </div>
      </div>
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-3.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>1对1进阶项目辅导</b><br/>
            尝试大量不同材料和媒介，教授一对一面授，<br/>
            打造进阶项目。
          </span>
        </div>
      </div>
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-4.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>1对1专业项目辅导</b><br/>
            多角度深层次打造专业拔高项目。
          </span>
        </div>
      </div>
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-5.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>作品集审核</b><br/>
            严苛的四重审核，打造高标准的优异作品集。
          </span>
        </div>
      </div>
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-6.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>作品集提升</b><br/>
            专业排版更锦上添花，打造彰显个性的好作品。
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">了解课程</h4>
      <h4 class="text-center text-warning">ABOUT OUR COURSES</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-100 d-flex flex-column">
    <a routerLink="/courses/detail" fragment="customization" class="d-flex mt-5 flex-row flex-wrap align-items-center text-body">
      <div class="w-50 position-relative d-inline">
        <img src="./assets/img/courses/VIP保送计划.jpg" class="w-100"/>
        <img src="./assets/img/courses/circles/VIP保送计划.png" class="h-100 position-absolute centered"/>
        <div class="position-absolute centered">VIP保送计划</div>
      </div>
      <div class="w-50 position-relative d-inline">
        <img src="./assets/img/courses/background/VIP保送.jpg" class="w-100"/>
        <div class="w-50 position-absolute vertical-centered left-space">
          <div class="text-primary text-nowrap">高三－大四学生</div>
          <br>
          转为计划学习时间在1年半以内的有艺术留学意向的学生打造<br>
          <br>
          授课方式： 1对1<br>
          师资： 海归高级导师＋外籍专业导师
        </div>
      </div>
    </a>
    <a routerLink="/courses/detail" fragment="brainstorm" class="d-flex mt-5 flex-row flex-wrap align-items-center text-body">
      <div class="w-50 position-relative d-inline">
        <img src="./assets/img/courses/background/小组破冰.jpg" class="w-100"/>
        <div class="w-50 position-absolute vertical-centered right-space">
          <div class="text-primary text-nowrap">明确申请专业的高中｜本科｜研究生｜已工作人群</div>
          <br>
          Workshop形式小组课程， 通过实践、小组讨论、进行作品集的创作<br>
          <br>
          授课方式： 此课程最少开课人数为4人， 一般需要提前进行预约排课<br>
          师资： 海归高级导师＋外籍专业导师
        </div>
      </div>
      <div class="w-50 position-relative d-inline">
        <img src="./assets/img/courses/小组思维破冰.jpg" class="w-100"/>
        <img src="./assets/img/courses/circles/小组思维破冰.png" class="h-100 position-absolute centered left-25"/>
        <div class="position-absolute centered left-25">小组思维破冰课程</div>
      </div>
    </a>
    <a routerLink="/courses/detail" fragment="basic" class="d-flex mt-5 flex-row flex-wrap align-items-center text-body">
      <div class="w-50 position-relative d-inline">
        <img src="./assets/img/courses/专业基础辅导.jpg" class="w-100"/>
        <img src="./assets/img/courses/circles/专业基础辅导.png" class="h-100 position-absolute centered"/>
        <div class="position-absolute centered">专业基础辅导</div>
      </div>
      <div class="w-50 position-relative d-inline">
        <img src="./assets/img/courses/background/专业基础.jpg" class="w-100"/>
        <div class="w-50 position-absolute vertical-centered left-space">
          <div class="text-primary text-nowrap">零基础的学员｜转专业学员｜基础薄弱的学生</div>
          <br>
          艺术课程根据名校官方的作品及需求， 针对学生的薄弱部分
          查漏补缺， 设计作品集基础项目和专业项目的作品集方案<br>
          <br>
          授课方式： 1对1<br>
          师资： 海归高级导师
        </div>
      </div>
    </a>
    <a routerLink="/courses/detail" fragment="optimization" class="d-flex mt-5 flex-row flex-wrap align-items-center text-body">
      <div class="w-50 position-relative d-inline">
        <img src="./assets/img/courses/background/作品集视觉.jpg" class="w-100"/>
        <div class="w-50 position-absolute vertical-centered right-space">
          <div class="text-primary text-nowrap">针对作品比较单一没有整套作品集的学生</div>
          <br>
          根据个人风格与目标院校要求对作品集优化升级
          打造专属作品集为申请目标院校增加胜利的筹码<br>
          <br>
          授课方式： 1对1<br>
          师资： 海归高级导师＋外籍专业导师
        </div>
      </div>
      <div class="w-50 position-relative d-inline">
        <img src="./assets/img/courses/作品集视觉优化.jpg" class="w-100"/>
        <img src="./assets/img/courses/circles/作品集视觉优化.png" class="h-100 position-absolute centered left-25"/>
        <div class="position-absolute centered left-25">作品集视觉优化</div>
      </div>
    </a>
    <a routerLink="/courses/detail" fragment="literature" class="d-flex mt-5 flex-row flex-wrap align-items-center text-body">
      <div class="w-50 position-relative d-inline">
        <img src="./assets/img/courses/留学文书.jpg" class="w-100"/>
        <img src="./assets/img/courses/circles/留学文书.png" class="h-100 position-absolute centered"/>
        <div class="position-absolute centered">留学文书服务</div>
      </div>
      <div class="w-50 position-relative d-inline">
        <img src="./assets/img/courses/background/留学文书.jpg" class="w-100"/>
        <div class="w-50 position-absolute vertical-centered left-space">
          <div class="text-primary text-nowrap">所有专业计划出国的学生</div>
          <br>
          留学文书定制与翻译服务<br>
          <br>
        </div>
      </div>
    </a>
  </div>
</section>
<!-- courses -->