<section id="site-promotions">
  <div class="mb-5 d-flex flex-row flex-nowrap">
    <div class="position-relative flex-grow-1">
      <img src="http://static.motionsh.cn/images/promotion_1.jpg" class="w-100"/>
      <div class="overlay d-flex justify-content-center align-items-center">作品集提升计划</div>
    </div>
    <div class="position-relative flex-grow-1">
      <img src="http://static.motionsh.cn/images/promotion_2.jpg" class="w-100"/>
      <div class="overlay d-flex justify-content-center align-items-center">VIP私人课程一对一</div>
    </div>
  </div>
</section>
<!-- promotion -->
