<section id="major-detail">
  <div *ngIf="(major$ | async) as major; else loading">
    <div class="banner" [style.background-image]="'url(' + major.bannerUrl + ')'">
      <div class="w-75 mx-auto pt-8 d-flex flex-row align-items-center text-white">
        <div>
          <img [src]="major.logoUrl" width=100/>
        </div>
        <div class="ml-3">
          <h3>{{major.name.zh}}<br>{{major.name.en}}</h3>
        </div>
      </div>
    </div>
    <div class="w-70 mx-auto mt-5 mb-7">
      <h4 class="my-3">
        什么是{{major.name.zh}}?
      </h4>
      {{major.introduction}}
    </div>
    <div class="w-60 mx-auto mb-7 d-flex flex-column">
      <div class="mb-7">
        <div class="mb-5">
          <h5 class="text-warning">
            就业前景
          </h5>
          {{major.career}}
        </div>
        <div *ngIf="major.faqs">
          <div>
            <h6>
              热门问答
            </h6>
          </div>
          <div class="mb-5" *ngFor="let faq of major.faqs">
            Q. {{faq.question}}<br>
            A. {{faq.answer}}
          </div>
        </div>
      </div>
      <div class="mb-7">
        <div class="mb-5">
          <h5 class="text-warning">
            推荐院校
          </h5>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-between">
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/加利福尼亚大学洛杉矶分校LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                加利福尼亚大学<br>
                洛杉矶分校
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/普瑞特LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                普瑞特艺术学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/马里兰艺术学院LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                马里兰艺术学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/伦敦大学金史密斯学院LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                伦敦大学<br>
                金史密斯学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/加州艺术大学LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                加州艺术大学
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/纽约大学LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                纽约大学
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/格拉斯哥艺术学院 LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                格拉斯哥艺术学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/伦敦大学学院LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                伦敦大学学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/卡内基梅隆LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                卡内基梅隆大学<br>
                艺术学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/纽约视觉艺术学院LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                纽约视觉艺术学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/爱丁堡艺术学院LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                爱丁堡艺术学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/切尔西艺术与设计学院 LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                切尔西艺术<br>
                与设计学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/帕森斯LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                帕森斯设计学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/罗德岛设计学院 LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                罗德岛设计学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/中央圣马丁 LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                中央圣马丁艺术学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/创意艺术大学 LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                创意艺术大学
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/旧金山艺术大学LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                旧金山艺术大学
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/美国电影学院LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                美国电影学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/伦敦大学学院LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                伦敦大学学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/坎伯韦尔艺术学院 LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                坎伯韦尔艺术学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/芝加哥艺术学院LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                芝加哥艺术学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/萨凡纳LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                萨凡纳艺术与<br>
                设计学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/皇家艺术学院LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                皇家艺术学院
              </div>
          </div>
          <div class="w-25 mb-3 d-flex flex-row flex-nowrap align-items-center">
            <div class="w-40">
                <img src="./assets/img/major-detail/suggestions/诺丁汉特伦特大学 LOGO.jpg" class="w-100"/>
              </div>
              <div class="ml-2 font-size-small">
                诺丁汉特伦特大
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div>
      加载专业数据。。。
    </div>
  </ng-template>
</section>
<!-- major detail -->
<app-promotions></app-promotions>