<section id="major-detail">
  <div class="w-70 mx-auto mt-5 mb-7">
    <h4 class="my-3">
      什么是平面设计
    </h4>
    平面设计师是在二度空间的平面材质上，运用各种视觉元素的组合及编排来表现其设计理念及形象的方式。一般人认知的平面设计师是把文字、照片或图案等视觉元素加以适当的影像处理及版面安排，而表现在报纸、杂志、书籍、海报、传单、标志、VI等等纸质媒体上，也就是在纸质媒体上进行美术设计及版面编排。
  </div>
  <div class="w-60 mx-auto mb-7 d-flex flex-column">
    <div class="mb-7">
      <div class="mb-5">
        <h5 class="text-warning">
          就业前景
        </h5>
        现如今平面设计涉及的领域日益广泛，可选择的就业公司多样性，像广告公司，印刷公司，教育机构，媒体机构，电视台等等，几乎所有的企业都需要平面设计人才，平面设计涵盖的职业范畴也由过去的单一性，变成了如今的广泛性。平面设计师的薪金待遇属于国内高收入职位的前十之列，如果你有过硬的专业技能，自主创业也是一个很好的选择。
      </div>
      <div>
        <h6>
          热门问答
        </h6>
      </div>
      <div class="mb-5">
        Q. 如何在短时间内自己完成一份用于申请平面设计留学的作品集？<br>
        A. 作品集的主题选取非常自由，但一定切忌太大、太空，比如有的学生，刚开始学的时候想以“起源”作为主题，这样的主题就太大，在向下深入的时候也难免落入俗套，比如说经过调研，他选取了“黄河”反应主题。所以在主题选取时，可以选取一些就咱们周围，经常看见，或是亲身经历过的，比如说，垃圾食品、人的骨骼肌肉、昆虫、油画等。
      </div>
      <div class="mb-5">
        Q. 学习平面设计去哪个国家好？<br>
        A. 英国和美国的平面设计专业实践性很强，导师布置的作业通常是开放性的。每次完成作业要求要在老师和同学面前展示。课外活动有展览会，视觉艺术作品拍卖会，化妆舞会，设计大赛等。很多大学的平面设计专业都会和设计公司有项目上的联系，因此优秀学生会得到导师的推荐，使你顺利步入工作岗位。
      </div>
      <div class="mb-5">
        Q. 平面设计怎样提高作品的冲击力？<br>
        A. （1）对比，各种对比，大小，颜色，形状，黑白，远近……所有能想到的视觉对比元素，尽量在作品中体现。以一个为主。 （2）运用意象，每个作品都有自己的“格式塔”，尽量突出这个意象，让人可以准确迅速的识别。尽量向观众最熟悉的意象靠拢。 （3）第一印象最重要，给人最大的视觉冲击力。 （4）巧妙。即有一个点可以打动观众，跟“梗”和“包袱”的意思一样。这个“点”就是画龙点睛的那个点。 （5）明确风格。 （6）简化，把最好的想法实现之后看能不能简化再简化。 （7）开始是模仿，找到最喜欢的风格去模仿，模仿中融
      </div>
      <div class="mb-5">
        Q. 平面设计就业方向有哪些？<br>
        A. 平面设计可以说是所有视觉传达设计的基础了。不管你以后是做视频，做广告，或者再远一点做摄影甚至是环艺等，都离不开平面设计的底子。 一旦具备了作为一位优秀平面设计师应有的素质和技能，只需配备基本的电脑设备就可以成立自己的设计工作室，这对于向往自由生活空间的人来说，不但是一条个人创业的捷径，而且是一种令人向往的生活方式。平面设计专业培训后的就业方向是广告公司、制版、印刷公司、报社、杂志社、编辑部、网络公司、教育机构、各媒体机构等，任何需要制作平面、网站宣传产品的部门。
      </div>
    </div>
    <div class="mb-7">
      <div class="mb-5">
        <h5 class="text-warning">
          推荐院校
        </h5>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-between">
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/加利福尼亚大学洛杉矶分校LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              加利福尼亚大学<br>
              洛杉矶分校
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/普瑞特LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              普瑞特艺术学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/马里兰艺术学院LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              马里兰艺术学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/伦敦大学金史密斯学院LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              伦敦大学<br>
              金史密斯学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/加州艺术大学LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              加州艺术大学
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/纽约大学LOGO.JPG" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              纽约大学
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/格拉斯哥艺术学院 LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              格拉斯哥艺术学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/伦敦大学学院LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              伦敦大学学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/卡内基梅隆LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              卡内基梅隆大学<br>
              艺术学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/纽约视觉艺术学院LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              纽约视觉艺术学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/爱丁堡艺术学院LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              爱丁堡艺术学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/切尔西艺术与设计学院 LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              切尔西艺术<br>
              与设计学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/帕森斯LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              帕森斯设计学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/罗德岛设计学院 LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              罗德岛设计学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/中央圣马丁 LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              中央圣马丁艺术学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/创意艺术大学 LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              创意艺术大学
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/旧金山艺术大学LOGO.png" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              旧金山艺术大学
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/美国电影学院LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              美国电影学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/伦敦大学学院LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              伦敦大学学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/坎伯韦尔艺术学院 LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              坎伯韦尔艺术学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/芝加哥艺术学院LOGO.jpeg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              芝加哥艺术学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/萨凡纳LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              萨凡纳艺术与<br>
              设计学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/皇家艺术学院LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              皇家艺术学院
            </div>
        </div>
        <div class="w-25 mb-2 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-40">
              <img src="./assets/img/major-detail/suggestions/诺丁汉特伦特大学 LOGO.jpg" class="w-100"/>
            </div>
            <div class="ml-2 font-size-small">
              诺丁汉特伦特大
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- major detail -->
<app-promotions></app-promotions>