<section id="consulting">
  <div class="banner" [style.background-image]="'url(./assets/img/consulting/banner.jpg)'"></div>
  <div class="w-70 mx-auto d-flex flex-row flex-wrap justify-content-between">
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/consulting/navbar/艺术游学.png" width=150/>
      <div class="position-absolute overflow">艺术游学</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/consulting/navbar/艺术展览.png" width=150/>
      <div class="position-absolute overflow">艺术展览</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/consulting/navbar/语言工坊.png" width=150/>
      <div class="position-absolute overflow">语言工坊</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/consulting/navbar/奖励金计划.png" width=150/>
      <div class="position-absolute overflow">奖励金计划</div>
    </div>
  </div>
  <div id="art-tour" class="w-100 mb-5">
    <div class="position-relative text-center">
      <img src="./assets/img/consulting/art-tour/header.jpg" class="w-100"/>
      <img src="./assets/img/consulting/art-tour/circle-bg.png" width=160 class="position-absolute overflow"/>
      <div class="position-absolute overflow">艺术游学</div>
    </div>
  </div>
  <div class="w-50 mx-auto d-flex flex-column">
    <div>
      <h4 class="text-center text-primary">
        19天伦敦艺术学院暑期夏令营
      </h4>
      炎炎夏日，要说最期望的就是享受假期生活了！那么同学们是如何选择度过这个惬意的暑假呢？<br>
      作为一家学生利益至上的国际艺术留学教育，7AM为同学们提供一个在六所学院学习的机会。
      同时体验并感受这座城市丰富的文化和Diversification，你将会接触到这座城市的艺术、设计和历史。
      还会学习到不同的艺术知识！
    </div>
    <div>
      <img src="./assets/img/consulting/art-tour/london.jpg" class="w-100"/>
    </div>
    <div>
      <h5 class="text-warning">
        Welcome To Creative City ·  London
      </h5>
      伦敦是一个真正的全球性城市。它是世界各地800多万人使用300多种语言的家园。<br>
      这座城市由充满活力的行政区和社区组成，每一个都有自己独特的特色和社区。
      在伦敦，世界著名的地标建筑和百货公司通常只在古怪的市场的拐角处、小型的精品店、设计师工作室、最新的餐馆和酒吧、剧院和商店、繁荣的艺术和表演空间附近。
      <br>
      伦敦还是一个文化之都，也是创意产业的世界中心。
      这是数字和媒体初创企业蓬勃发展的地方，国际知名的博物馆和画廊（其中许多是免费的）与独立文化中心和小型艺术家经营的展示新兴人才的展览空间并驾齐驱。
    </div>
    <div>
      <h5 class="text-warning">
        About  UAL International School
      </h5>
      伦敦学院 (The London Institute) 成立于1986年，由世界著名的六大艺术、设计与传播学院联合而成。
      是全世界最优秀的艺术学院之一，是艺术教育界的哈佛、剑桥。 
      它将世界上最著名的致力于艺术、设计的六所学院联合起来，每所学院都有其独特的学术实力和风格。
      <br>
      六所学院分别为：坎伯韦尔艺术学院（Camberwell College of Arts）、中央圣马丁设计艺术学院（Central Saint Martins）、切尔西艺术学院 （Chelsea College of Arts）、伦敦传媒学院（London College of Communication）、伦敦时装学院（London College of Fashion） 、温布尔登艺术学院（Wimbledon College of Arts）伦敦艺术大学在伦敦市中心共拥有18处校园。
      每座学院均占据着伦敦市内别具特色的一处。坎伯韦尔校园位于佩卡姆，靠近市区仅几步之遥；中央圣马丁校园坐落于国王十字车站旁的Granary Square，靠近大英图书馆附近；伦敦时装学院位于英国最著名的商业街牛津街，伦敦印刷与发行学院的主校园位于埃勒法特与卡索。
      作为伦敦艺术大学的学生进入这六所学院中的任一所学院学习，都可以在学习期间享用所有这五所学院的设施。
    </div>
    <div>
      <h5 class="text-warning">
        UAL ·19 days Summer camp
      </h5>
      课程时间（DATE）<br>
      02/07/2018 - 20/07/2018<br>
      23/07/2018 - 10/08/2018<br>
      上课时间（Time）： 10：00 - 16：00<br>
      大约费用（Cost）： £5275 = ¥45550<br>
      地点（Location）： 英国伦敦 UAL - various locations
    </div>
    <div>
      <h5 class="text-warning">
        课程包括
      </h5>
      <div class="w-100 mb-4 d-flex flex-row flex-nowrap justify-content-between">
        <div class="w-20 mr-4">
          <img src="./assets/img/consulting/art-tour/pic1.jpg" class="w-100"/>
        </div>
        <div class="w-20 mx-4">
          <img src="./assets/img/consulting/art-tour/pic2.jpg" class="w-100"/>
        </div>
        <div class="w-20 mx-4">
          <img src="./assets/img/consulting/art-tour/pic3.jpg" class="w-100"/>
        </div>
        <div class="w-20 ml-4">
          <img src="./assets/img/consulting/art-tour/pic4.jpg" class="w-100"/>
        </div>
      </div>
      <div>
        在UAL六个学院学习优势专业；<br>
        伦敦体验作为一个艺术生的学习与生活；<br>
        介绍申请UAL Foundation Diploma in Art & Design的申请过程；<br>
        获得有关如何准备作品集的建议；<br>
        体验伦敦这座世界城市的活力，组织参观画廊和著名景点；<br>
        客座教授包括有专业领域的教授、讲师及校友；<br>
        晚会及周末社交活动；<br>
        课程结束时颁发结业证书和奖品；<br>
        <br>
        机场接送服务；<br>
        住宿服务： 为每位同学提供一个独立套间，每个套间包含独立卫浴<br>
        24小时求助热线和全天侯的暑期课程服务中心为同学们24小时提供帮助；<br>
        宿舍与学校之间的交通服务。<br>
        (课程的宿舍Gardens House - 伦敦艺术大学的新宿舍之一，几分钟内步行能够到达坎伯维尔艺术学院，同时也可以方便到达伦敦的各个地区)
      </div>
    </div>
    <div>
      <h5 class="text-warning">
        宿舍包含
      </h5>
      每间宿舍内有一张床、书桌、椅子、衣柜、书柜及储存空间； 无线上网服务； 共享厨房及电视； 公共休息室； 洗衣设施。
    </div>
    <div>
      <h5 class="text-warning">
        适用对象
      </h5>
      希望实地感受伦艺课程设置及艺术学习氛围的学生；<br>
      有意申请伦敦艺术大学的学生；<br>
      热爱艺术，富有创造力，想要体验伦敦创意生活的人；<br>
      艺术设计类专业的在校学生、艺术从业者、各个领域的设计师、传媒或新闻工作者；<br>
      愿意提高自己的英语水平，并且希望与各个国同行们共同学习、讨论、分享自己的理念，从而开阔专业眼界的艺术从业者。
    </div>
    <div>
      <h5 class="text-warning">
        课外活动建议 Suggestions for Extracurricular
      </h5>
      学院举办的各类展览： 在校学生及校友作品的展示<br>
      公共艺术的徒步旅行： 参观丰富有趣的伦敦市区雕塑、纪念碑等公共艺术，与国际时尚之都的零距离接触<br>
      学院开放日： 与各学院老师、同学的亲切会谈，参观学院的各项设施，深入了解英国大学的结构与校园文化<br>
      休闲文化体验： 利用课余时间，学生可自由活动，内容包括了周末市场，街头艺术，酒吧与咖啡馆等等<br>
      牛津，剑桥大学周末远足（费用自理）： 参观世界上最富盛名的大学，领略传统英国学院风范。
    </div>
  </div>
  <div id="art-exhibition" class="w-100 mb-5">
    <div class="position-relative text-center">
      <img src="./assets/img/consulting/art-exhibition/header.jpg" class="w-100"/>
      <img src="./assets/img/consulting/art-exhibition/circle-bg.png" width=160 class="position-absolute overflow"/>
      <div class="position-absolute overflow">艺术展览</div>
    </div>
  </div>
  <div class="w-70 mx-auto mb-5 d-flex flex-row flex-wrap justify-content-between">
    <div class="w-23 text-center text-nowrap d-flex flex-column">
      <img src="./assets/img/consulting/art-exhibition/pic1.jpg" class="w-100"/>
      兰登国际：万物与虚无
    </div>
    <div class="w-23 text-center text-nowrap d-flex flex-column">
      <img src="./assets/img/consulting/art-exhibition/pic2.jpg" class="w-100"/>
      莱安德罗 · 埃利希个展【虚.构】
    </div>
    <div class="w-23 text-center text-nowrap d-flex flex-column">
      <img src="./assets/img/consulting/art-exhibition/pic3.jpg" class="w-100"/>
      出⼚设置—沉浸式艺术体验大展
    </div>
    <div class="w-23 text-center text-nowrap d-flex flex-column">
      <img src="./assets/img/consulting/art-exhibition/pic4.jpg" class="w-100"/>
      白日梦境 · 装置艺术展
    </div>
  </div>
  <div class="w-50 mx-auto my-2 d-flex flex-column">
    <div>
      <h4 class="text-warning">
        展览时间
      </h4>
      2018年04月20日 ~ 2018年10月05日<br>
      每天 10:00 - 21:00（活动结束时间以实际活动为准）
    </div>
    <div>
      <h4 class="text-warning">
        展览地点
      </h4>
      上海 余德耀美术馆 上海市徐汇区丰谷路35号
    </div>
    <div>
      <h4 class="text-warning">
        展览费用
      </h4>
      150元
    </div>
    <div>
      <h4 class="text-warning">
        活动详情
      </h4>
      购买须知：入场时间：周一闭馆，周二-周日10:00-21:00，20:00停止入场<br>
      限购说明：每单限购6张<br>
      座位类型：现场不设座位，均为站席观演<br>
      儿童入场提示 ：1.3米以下儿童免票进场，但需家长陪同<br>
      其他说明：入场前请详细阅读参观须知，如因违反规定造成财产损失或人身伤害后果自负。<br>
      参观须知： 每张票仅限体验一次《雨屋》。 为了确保良好的参观体验，每一次只能容纳15人。每人参观时间为10分钟，场内志愿者将计时并协助您离场。<br> 
      <br>
      《雨屋》是在黑暗环境下的降雨装置，可能会有轻微淋湿。若您有携带不能碰水的物品，我们建议您将物品放入包内或者在场外寄存。本馆前台备有吹风机及毛巾，如有需要可前往洽借。<br> 
      请勿穿着高跟鞋入内。不建议您穿深色、闪亮、可反光或雨衣材质面料的衣服，否则可能影响作品精确运行，降低体验效果。 陪伴儿童入场的成人，请您确保一直牵着您的孩子。<br>
      作品当中的感应系统为预设即时感应，请您放慢参观脚步以免淋湿，并请服从现场工作人员管理及安排。<br>
      以下物品请勿携带：食物、饮料、雨伞、自拍杆<br>
      如遇技术问题，作品维护期间，《雨屋》可能进行短暂关闭。
    </div>
  </div>
  <div id="linguistics-workshop" class="w-100 mb-5">
    <div class="position-relative text-center">
      <img src="./assets/img/consulting/linguistics-workshop/header.jpg" class="w-100"/>
      <img src="./assets/img/consulting/linguistics-workshop/circle-bg.png" width=160 class="position-absolute overflow"/>
      <div class="position-absolute overflow">语言工坊</div>
    </div>
  </div>
  <div class="w-50 mx-auto d-flex flex-column">
    <div>
      外籍导师， 创造语言语境，更好地帮助你学习英语。 不仅可以帮助辅导你的专业，同时可以训练口语以及写作能力。<br>
      华人导师， 导师来自与环球雅思，新东方，朗格， 拥有丰富的教学经验与轻松的教学模式。
    </div>
    <div>
      <h4 class="text-warning">
        机构价格对比
      </h4>
    </div>
    <div class="w-90 mx-auto d-flex flex-column">
      <div class="w-100 mx-auto my-4 d-flex flex-row justify-content-between align-items-center">
        <div class="w-45">
          某机构大班课价格<br>
          价格： ¥ 300<br>
          课时： 1小时<br>
          人数： 18+
        </div>
        <div class="w-10 position-relative text-center font-8p">
          <img src="./assets/img/consulting/linguistics-workshop/VS.png" class="w-80"/>
          <div class="position-absolute overflow">VS</div>
        </div>
        <div class="w-45">
          7apm大班课价格<br>
          价格： ¥ 150<br>
          课时： 1小时<br>
          人数： 4
        </div>
      </div>
      <div class="w-100 mx-auto my-4 d-flex flex-row justify-content-between align-items-center">
        <div class="w-45">
          某机构小班课价格<br>
          价格： ¥ 650<br>
          课时： 1小时<br>
          人数： 4-6
        </div>
        <div class="w-10 position-relative text-center font-8p">
          <img src="./assets/img/consulting/linguistics-workshop/VS.png" class="w-80"/>
          <div class="position-absolute overflow">VS</div>
        </div>
        <div class="w-45">
          7apm小班课价格<br>
          价格： ¥ 300<br>
          课时： 1小时<br>
          人数： 2
        </div>
      </div>
      <div class="w-100 mx-auto my-4 d-flex flex-row justify-content-between align-items-center">
        <div class="w-45">
          某机构一对一价格<br>
          价格： ¥980 <br>
          课时： 1小时<br>
          人数： 1
        </div>
        <div class="w-10 position-relative text-center font-8p">
          <img src="./assets/img/consulting/linguistics-workshop/VS.png" class="w-80"/>
          <div class="position-absolute overflow">VS</div>
        </div>
        <div class="w-45">
          7apm一对一价格<br>
          价格： ¥ 450<br>
          课时： 1小时<br>
          人数： 1
        </div>
      </div>
    </div>
    <div>
      * 每一位都按照严格标准进行筛选
      对简历进行审查 → 3次面试及笔试 → 教学培训 → 成为导师 → 抽取老师督导讲课 → 定期进行培训及考试
    </div>
  </div>
  <div id="scholarship-program" class="w-100 mb-5">
    <div class="position-relative text-center">
      <img src="./assets/img/consulting/scholarship-program/header.jpg" class="w-100"/>
      <img src="./assets/img/consulting/scholarship-program/circle-bg.png" width=160 class="position-absolute overflow"/>
      <div class="position-absolute overflow">奖励金计划</div>
    </div>
  </div>
  <div class="w-50 mx-auto d-flex flex-column">
    <div>
      <h4 class="text-warning">
        推荐奖励金计划
      </h4>
      欢迎您成为7AM的正式学生，在这里，您不仅可以自己学习。还能与您的小伙伴一起学习，共同申请到梦想学习。
    </div>
    <div>
      <h4 class="text-warning">
        推荐者奖励金
      </h4>
      如您推荐的小伙伴成功签约“作品集辅导+文书服务”。那么您的小伙伴会获得相对折扣，而您可以获得一定的奖励金。
    </div>
    <div>
      <h4 class="text-warning">
        奖励金获得时间
      </h4>
      您推荐的小伙伴与7AM成功签约后，您就能获得奖励。
    </div>
    <div>
      注：如分期付款，推荐奖励将于被推荐者的全款交付后，方可获得奖励。<br>
      * 本活动具体详情请咨询工作人员
    </div>
  </div>
</section>
<!-- consulting -->
<app-promotions></app-promotions>