<section id="colleague-detail">
  <div class="w-75 mx-auto d-flex flex-column">
    <div class="mt-5">
      <h4>院校介绍</h4><br>
      美国帕森斯设计学院/帕森设计学院（Parsons The New School for Design）于1896年成立， 不仅是全美国最著名的设计学院，在全世界的艺术领域也享有盛誉：据2015年的QS世界大学排名， 帕森设计学院在全世界的艺术与设计学院中排名第二。Parsons每年向世界各地的一线企业输送大批优秀毕业生， 他们大都担任着大型企业的重要设计职位，并把握着企业产品的设计风向标。 1970 年时， Parsons正式与纽约的New School合并，从那时开始，Parsons开始逐步成长为全美最顶尖的艺术与设计学校之一。 除纽约总部外，Parsons还在巴黎设有分校，并且在多明尼加、日本、马来西亚和南韩也建立了相关的姐妹学校。 如今Parsons已经是一个国际化水平很高的学校。
    </div>
    <div class="mt-5 d-flex flex-row flex-nowrap">
      <div class="w-25 pr-5 pt-7 d-flex flex-column">
        <div class="pl-4 text-warning">
          本科 BA
        </div>
        <hr class="mx-0 bg-warning">
        <div class="pl-4 mt-4 d-flex flex-column">
          <a [ngx-scroll-to]="'#destination'">建筑设计</a>
          <a href="#">设计和技术</a>
          <a href="#">视觉传达设计</a>
          <a href="#">服装设计</a>
          <a href="#">纯艺术</a>
          <a href="#">插画</a>
          <a href="#">室内设计</a>
          <a href="#">综合设计</a>
          <a href="#">摄影</a>
          <a href="#">产品设计</a>
        </div>
        <div class="pl-4 mt-4 text-warning">
          研究生 MA
        </div>
        <hr class="mx-0 bg-warning">
        <div class="pl-4 d-flex flex-column">
          <a href="#">建筑</a>
          <a href="#">建筑和灯光设计双学位</a>
          <a href="#">数据可视化</a>
          <a href="#">设计与技术</a>
          <a href="#">工业设计</a>
          <a href="#">灯光设计</a>
          <a href="#">城市实践理论</a>
        </div>
      </div>
      <div class="w-75 pl-5 d-flex flex-column flex-grow-1">
        <!-- Nav tabs -->
        <nav class="nav nav-pills flex-column flex-sm-row justify-content-between">
          <a class="flex-sm-fill text-sm-center nav-item nav-link bg-transparent active" id="majors-tab" data-toggle="tab" href="#majors" role="tab" aria-controls="majors" aria-selected="true">
            <div class="text-center">
              <span>院校专业<br/>MAJORS</span>
            </div>
          </a>
          <a class="flex-sm-fill text-sm-center nav-item nav-link bg-transparent" id="application-tab" data-toggle="tab" href="#application" role="tab" aria-controls="application" aria-selected="false">
            <div class="text-center">
              <span>申请要求<br/>APPLICATION</span>
            </div>
          </a>
          <a class="flex-sm-fill text-sm-center nav-item nav-link bg-transparent" id="tuition-tab" data-toggle="tab" href="#tuition" role="tab" aria-controls="tuition" aria-selected="false">
            <div class="text-center">
              <span>学费明细<br/>TUITION</span>
            </div>
          </a>
        </nav>
        <hr class="mx-0 bg-warning">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="majors" role="tabpanel" aria-labelledby="majors-tab">
            <br><br>
            <h5>本科生</h5>
            <br><br>
            <a>建筑设计</a> 
            <br>
            帕森斯的建筑设计本科，将教学实践置于纯艺术背景下， 并与室内设计和产品设计的空间、制作学科相联系。在专业学习过程中， 你会通过全尺寸建设到数码动画等各种方式，来学习调查研究环境、文化和理论问题。 你会和建筑工业设计、室内设计和灯光设计等专业的研究生一起学习，合作创作有社会参与度并具备全球视角的作品。
            <br><br>
            设计和技术<br>
            从游戏设计和创意技术中选择一个作为专业方向，然后通过创意地综合软件、硬件、艺术和设计来解决问题。在专业学习中，代码会成为你的第二语言以及和他人沟通的表达方式。你会发展出一个可持续的研究、试验、设计、原型制作、迭代和生产项目的过程，并与当前的技术演进保持同步。
            <br><br>
            视觉传达设计<br>
            作为视觉传达设计的本科生，你一开始会关注排版和交互，接着学习完整课程，进行实习和完成赞助项目，涉及的领域有编辑设计、交互设计、品牌推广、网页/移动端产品设计、字体设计、运动图像、广告设计和信息设计。
            <br><br>
            服装设计<br>
            这个创新专业已经培养了五代改变全球产业的设计师。运用设计思维和解决问题的创意策略，你会探索形状、轮廓、材料和过程——包括社会和环境责任——来为这个复杂而不断发展的领域创造美丽、可持续和负责任的时尚。我们鼓励学生探索时尚领域最广泛的背景和实际应用。
            <br><br>
            纯艺术<br>
            在这个专业的学习中，你会接触到大量与当代艺术相关的工作室实践、理念、社群和全球动态。你会发展出通过构图、色彩、形状、空间和表演，来解释和表达抽象概念的技巧和艺术策略。
            <br><br>
            插画<br>
            在将想法转化为插画书、图像小说、花式字体、编辑和广告插画、玩具设计、动画和表面及陈列设计的同时，培养你的视野、作者叙述语言、创意解决问题的能力和好奇心。
            <br><br>
            室内设计<br>
            1906年，弗兰克·阿尔瓦·帕森斯创立了美国第一套室内设计课程体系，将此领域构架成日常生活中的严谨创造力。今天这个以研究为基础、注重设计的专业会给你的事业夯实基础，你会创造舒适、有想象力并智能化设计的室内装潢。本科学习也为研究生学习打下基础，尤其是对建筑、工业设计和光线设计的研究生专业。
            <br><br>
            综合设计<br>
            在技术和全球网络改变了世界大的今天，设计师必须成为具备多种能力、博学的问题解决者。综合设计的本科课程培养这些能力，让你将来能够在社会、文化和生态领域工作。很多毕业生结合了设计和创业精神，创立了注重创新的公司。 
            <br><br>
            摄影<br>
            在专业学习中，你会学到成功从事创意摄影工作所必需的美学、技术、概念以及专业技巧。你会探索胶片和数码平台，以及摄影与视频、装置和设计的交叉点。
            <br><br>
            产品设计<br>
            产品设计专业的本科学习培养学生的技术和关键技能，让你设计的产品能强化人体功能和人群关系。在专业的学习中，在探索材料、制造、美学和本地及全球语境下的社会参与的同时，你还会应对和处理包括可持续发展和技术变化的当代现实。商店和工作室空间会与其他专业的本科生和研究生共享 - 建筑、室内设计、光线设计、纯艺术 - 因而培养学生的跨学科合作能力。
            <br><br>
            <hr>
            <br><br>
            <h5>研究生</h5>
            <br><br>
            建筑<br>
            建筑专业研究生专业是由美国国家建筑认证委员会认证的三年制专业学位，招收拥有建筑专业学士学位或拥有非建筑专业四年制学位的学生。纽约市给学生提供了综合环境，让其发展批判声音，获得设计建筑经验，以及探索建筑在形式上和社会政治上的重要性。
            <br><br>
            建筑和灯光设计双学位<br>
            想要进行灯光设计和建筑方面的研究的学生可以申请双学位，为期四年，课程包含120个学分，其中包括一个美国国家建筑认证委员会认证的建筑学硕士和光线设计的艺术学硕士。感兴趣的学生应当直接申请双学位；如果双学位未申请成功，也有可能被其中一个专业录取。
            <br><br>
            <a id="destination">数据可视化</a> 
            <br>
            帕森斯的数据可视化专业是一个多学科专业，学生们会发展出将视觉设计、计算机科学、统计分析以及数据分析和展示的伦理考量综合在一起的技能。在当今这个日益全
            <br><br>
          </div>
          <div class="tab-pane" id="application" role="tabpanel" aria-labelledby="application-tab">
            <br><br>
            <h5>本科生</h5>
            <br><br>
            截止日期<br>
            早申11月1日 ; 常规1月15日
            <br><br>
            申请要求<br>
            语言要求 : 雅思 7.0 ; 托福 92 ; PTE 63 ; 可附上SAT或ACT成绩 (非必需)。
            需要在网上提交成绩单、语言成绩、帕森斯挑战、作品集、个人陈述和推荐信。
            <br><br>
            帕森斯挑战<br>
            选择任意主题或概念，用三个原创作品对它进行阐述，并用一篇大约250个单词的文章简要的解释每一件原创作品。该系列作品应当表达出对主题的概念性和创意性的把握和理解。申请人可以选择任何媒体形式来创作作品——速写、视频、摄影、雕塑、3D作品、拼贴画、数码图像，即可以选择单一媒体形式进行创作，也可以同时选用多种。帕森斯挑战旨在帮助招生委员会了解申请人如何根据主题拓展概念，视觉性地呈现主题，并用写作来为作品润色。/移动端产品设计、字体设计、运动图像、广告设计和信息设计。
            <br><br>
            作品集要求<br>
            通过Slideroom上传8-12件作品。可包括速写、油画、雕塑、摄影、数码媒体、设计、三维作品、网页设计、动画、视频和其他数码媒体。作品需附上名称、大小、日期和描述。上传作品必须表现出申请人的个人视觉呈现能力、创造力、已有的技能及专业经验。
            <br><br>
            <hr>
            <br><br>
            <h5>研究生</h5>
            <br><br>
            截止日期<br>
            1月1日
            <br><br>
            申请要求<br>
            语言要求 : 雅思 7.0 ; 托福 92 ; PTE 63 ; 可附上SAT或ACT成绩 (非必需)。
            需要在网上提交成绩单、语言成绩、帕森斯挑战、作品集、个人陈述和推荐信。
            <br><br>
            帕森斯挑战<br>
            选择任意主题或概念，用三个原创作品对它进行阐述，并用一篇大约250个单词的文章简要的解释每一件原创作品。该系列作品应当表达出对主题的概念性和创意性的把握和理解。申请人可以选择任何媒体形式来创作作品——速写、视频、摄影、雕塑、3D作品、拼贴画、数码图像，即可以选择单一媒体形式进行创作，也可以同时选用多种。帕森斯挑战旨在帮助招生委员会了解申请人如何根据主题拓展概念，视觉性地呈现主题，并用写作来为作品润色。/移动端产品设计、字体设计、运动图像、广告设计和信息设计。
            <br><br>
            作品集要求<br>
            通过Slideroom上传8-12件作品。可包括速写、油画、雕塑、摄影、数码媒体、设计、三维作品、网页设计、动画、视频和其他数码媒体。作品需附上名称、大小、日期和描述。上传作品必须表现出申请人的个人视觉呈现能力、创造力、已有的技能及专业经验。
            <br><br>
          </div>
          <div class="tab-pane" id="tuition" role="tabpanel" aria-labelledby="tuition-tab">
            预算项目 :
            <br><br>
            学费——$45,080
            <br><br>
            杂费——$926
            <br><br>
            书本费——$1,581
            <br><br>
            通勤费——$1,344
            <br><br>
            住宿费——17,235
            <br><br>
            总预算——$66,166
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- colleague detail -->
<app-promotions></app-promotions>