<section id="course-detail">
  <div class="banner" [style.background-image]="'url(./assets/img/header/course-detail.jpg)'"></div>
  <div class="w-70 mx-auto d-flex flex-row flex-wrap justify-content-between">
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/course-detail/navbar/VIP保送计划.png" width=150/>
      <div class="position-absolute overflow">VIP保送计划</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/course-detail/navbar/作品集视觉优化.png" width=150/>
      <div class="position-absolute overflow">作品集视觉优化</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/course-detail/navbar/专业基础辅导.png" width=150/>
      <div class="position-absolute overflow">专业基础辅导</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/course-detail/navbar/留学文书服务.png" width=150/>
      <div class="position-absolute overflow">留学文书服务</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/course-detail/navbar/小组思维破冰.png" width=150/>
      <div class="position-absolute overflow">小组思维破冰</div>
    </div>
  </div>
  <div id="customization" class="w-100 mb-5">
    <div class="position-relative text-center">
      <img src="./assets/img/course-detail/customization/header.jpg" class="w-100"/>
      <img src="./assets/img/course-detail/customization/circle-bg.png" width=160 class="position-absolute overflow"/>
      <div class="position-absolute overflow">VIP保送计划</div>
    </div>
  </div>
  <div class="w-50 mx-auto d-flex flex-column">
    <div>
      <h4 class="text-warning">
        / 适 用 人 群 /
      </h4>
    </div>
    <div class="d-flex flex-row flew-nowrap">
      <div class="border border-warning text-center text-warning">
        申请本科<br>
        研究生
      </div>
      <div class="mx-5 border border-warning text-center text-warning">
        有一定<br>
        艺术基础
      </div>
      <div class="border border-warning text-center text-warning">
        无基础<br>
        但有明确方向
      </div>
    </div>
    <div>
      <h4 class="text-warning">
        / 课 程 描 述 / 
      </h4>
      根据录取作品集要求的研究对学生制定针对性的课程<br>
      协议保送专业排名TOP30艺术院校
    </div>
    <div>
      <h4 class="text-warning">
        / 课 程 包 括 / 
      </h4>
    </div>
  </div>
  <div id="optimization" class="w-100 mb-5">
    <div class="position-relative text-center">
      <img src="./assets/img/course-detail/optimization/header.jpg" class="w-100"/>
      <img src="./assets/img/course-detail/optimization/circle-bg.png" width=160 class="position-absolute overflow"/>
      <div class="position-absolute overflow">作品集视觉优化</div>
    </div>
  </div>
  <div id="basic" class="w-100 mb-5">
    <div class="position-relative text-center">
      <img src="./assets/img/course-detail/basic/header.jpg" class="w-100"/>
      <img src="./assets/img/course-detail/basic/circle-bg.png" width=160 class="position-absolute overflow"/>
      <div class="position-absolute overflow">专业基础辅导</div>
    </div>
  </div>
  <div id="literature" class="w-100 mb-5">
    <div class="position-relative text-center">
      <img src="./assets/img/course-detail/literature/header.jpg" class="w-100"/>
      <img src="./assets/img/course-detail/literature/circle-bg.png" width=160 class="position-absolute overflow"/>
      <div class="position-absolute overflow">留学文书服务</div>
    </div>
  </div>
  <div id="brainstorm" class="w-100 mb-5">
    <div class="position-relative text-center">
      <img src="./assets/img/course-detail/brainstorm/header.jpg" class="w-100"/>
      <img src="./assets/img/course-detail/brainstorm/circle-bg.png" width=160 class="position-absolute overflow"/>
      <div class="position-absolute overflow">小组思维破冰</div>
    </div>
  </div>
</section>
<!-- course-detail -->