<section id="course-detail">
  <div class="banner" [style.background-image]="'url(./assets/img/course-detail/banner.jpg)'"></div>
  <div class="w-70 mx-auto d-flex flex-row flex-wrap justify-content-between">
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/course-detail/navbar/VIP保送计划.png" width=150/>
      <div class="position-absolute overflow">VIP保送计划</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/course-detail/navbar/作品集视觉优化.png" width=150/>
      <div class="position-absolute overflow">作品集视觉优化</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/course-detail/navbar/专业基础辅导.png" width=150/>
      <div class="position-absolute overflow">专业基础辅导</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/course-detail/navbar/留学文书服务.png" width=150/>
      <div class="position-absolute overflow">留学文书服务</div>
    </div>
    <div class="position-relative text-center text-nowrap font-8p">
      <img src="./assets/img/course-detail/navbar/小组思维破冰.png" width=150/>
      <div class="position-absolute overflow">小组思维破冰</div>
    </div>
  </div>
  <div id="customization" class="w-100 mb-5">
    <div class="position-relative text-center">
      <img src="./assets/img/course-detail/customization/header.jpg" class="w-100"/>
      <img src="./assets/img/course-detail/customization/circle-bg.png" class="h-100 position-absolute overflow"/>
      <div class="position-absolute overflow">VIP保送计划</div>
    </div>
  </div>
  <div class="w-60 mx-auto d-flex flex-column">
    <div>
      <h4 class="text-warning">
        / 适 用 人 群 /
      </h4>
    </div>
    <div class="d-flex flex-row flex-nowrap">
      <div class="mb-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        申请本科<br>
        研究生
      </div>
      <div class="mb-5 mx-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        有一定<br>
        艺术基础
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        无基础<br>
        但有明确方向
      </div>
    </div>
    <div class="mb-5">
      <h4 class="text-warning">
        / 课 程 描 述 / 
      </h4>
      根据录取作品集要求的研究对学生制定针对性的课程<br>
      协议保送专业排名TOP30艺术院校
    </div>
    <div>
      <h4 class="text-warning">
        / 课 程 包 括 / 
      </h4>
    </div>
    <div class="d-flex flex-row flex-nowrap">
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          留学规划
        </div>
        <div>
          结合学员具体情况精确把握每个时间点为学员定制完整体系
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          基础巩固
        </div>
        <div>
          提升绘画和软件制作能力，使学员能够熟练掌握运用各类技法，为作品集创作打好基础，使其能够灵活诠释个人创作灵感
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          专业强化
        </div>
        <div>
          提升作品集的视觉优化及排版问题，保证最终视觉高水准呈现
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          作品集提升
        </div>
        <div>
          1 对 1 海归名师进行作品集项目辅导，全面把控作品集质量及进度
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          留学Club
        </div>
        <div>
          外教导师的课堂讲座以及作品集点评
        </div>
      </div>
    </div>
    <div class="d-flex flex-row flex-nowrap">
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          文书服务
        </div>
        <div>
          专属资深文书导师全程跟踪指导准确专业的文书部分
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          面试辅导
        </div>
        <div>
          根据以往的面试问题及技巧来指导，进行模拟面试
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          行前准备
        </div>
        <div>
          了解国外院校的课程设置，为艺术留学出国提前做准备
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          保送计划
        </div>
        <div>
          7APM携手多名艺术导师度身定制教学体系，协议保送TOP15艺术院校
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          归国落户
        </div>
        <div>
          7APM作为上海唯一的一家提供学生归国后落户指导的机构！保证帮助其VIP学生留学回国后，落户上海
        </div>
      </div>
    </div>
    <div>
      <h4 class="text-warning">
        / 费 用 /
      </h4>
      6.8 万元/人 （英国方向）<br>
      7.8 万元/人 （美国方向）<br>
      7.2 万元/人  起（其他方向）<br>
      包含前期留学规划、文书以及签证申请服务<br>
      <br>
      共 70 小时以上课时<br>
      专业基础课程（约3个月）<br>
      + 4个项目的作品集制作（约8个月）<br>
      （课程上完承诺完成作品集制作，如未完成可免费续课）<br>
      <br>
      <div class="text-warning">
        保送计划针对申请国家专业排名TOP 15 院校<br>
        * 具体时间规划以面谈为准<br>
        * 如无录取承诺退款<br>
        * 回国落户事宜请咨询客服<br>
      </div>
    </div>
  </div>
  <div id="optimization" class="w-100 my-5">
    <div class="position-relative text-center">
      <img src="./assets/img/course-detail/optimization/header.jpg" class="w-100"/>
      <img src="./assets/img/course-detail/optimization/circle-bg.png" class="h-100 position-absolute overflow"/>
      <div class="position-absolute overflow">作品集视觉优化</div>
    </div>
  </div>
  <div class="w-60 mx-auto d-flex flex-column">
    <div>
      <h4 class="text-warning">
        / 适 用 人 群 /
      </h4>
    </div>
    <div class="d-flex flex-row flex-nowrap">
      <div class="mb-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        已有零散作品
      </div>
      <div class="mb-5 mx-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        已有大四<br>
        作品留存
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        没有整套<br>
        作品集
      </div>
    </div>
    <div class="mb-5">
      <h4 class="text-warning">
        / 课 程 描 述 / 
      </h4>
      作品集优化课程主要为高阶点评方式<br>
      以1对1的形式辅助学生优化作品集<br>
      根据个人风格与目标院校要求对作品集优化升级<br>
      打造专属作品集为申请目标院校增加胜利的筹码
    </div>
    <div>
      <h4 class="text-warning">
        / 课 程 包 括 / 
      </h4>
    </div>
    <div class="d-flex flex-row flex-nowrap">
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          艺术成品指导
        </div>
        <div>
          给出成品概念、内容、形式、阶段性修改建议、相关材料写作、及作品集文字描述等文字服务
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          作品集优化<br>
          ＋排版
        </div>
        <div>
          海内外名师进行专业排版指导，使艺术作品更进一步提升专业性； 一对一的排版建议帮助完成作品最后包装
        </div>
      </div>
    </div>
    <div>
      <h4 class="text-warning">
        / 费 用 /
      </h4>
      单个作品集优化<br>
      8000 元（ 约 12 课时 ）<br>
      2 个月内 6 次课程<br>
      <br>
      全套作品集优化<br>
      3.2 万元（ 约 50 课时 ）<br>
      4-5 个月内 24 次课程<br>
      包含 4 个作品集视觉优化
    </div>
  </div>
  <div id="basic" class="w-100 my-5">
    <div class="position-relative text-center">
      <img src="./assets/img/course-detail/basic/header.jpg" class="w-100"/>
      <img src="./assets/img/course-detail/basic/circle-bg.png" class="h-100 position-absolute overflow"/>
      <div class="position-absolute overflow">专业基础辅导</div>
    </div>
  </div>
  <div class="w-60 mx-auto d-flex flex-column">
    <div>
      <h4 class="text-warning">
        / 适 用 人 群 /
      </h4>
    </div>
    <div class="d-flex flex-row flex-nowrap">
      <div class="mb-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        零基础的学员
      </div>
      <div class="mb-5 mx-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        转专业学员
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        基础薄弱<br>
        的学生
      </div>
    </div>
    <div class="mb-5">
      <h4 class="text-warning">
        / 课 程 描 述 / 
      </h4>
      此课程为单独基础辅导课程<br>
      主要帮助跨专业，转专业或无基础的学生<br>
      从最初步的基础练习开始辅导<br>
      如美术练习、软件运用、手绘基础、三维建模等
    </div>
    <div>
      <h4 class="text-warning">
        / 课 程 包 括 / 
      </h4>
    </div>
    <div class="d-flex flex-row flex-nowrap">
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          思维破冰
        </div>
        <div>
          加深对专业的理解，提高艺术鉴赏能力
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          个性订制
        </div>
        <div>
          结合学员自身针对个人量身定制课程
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          作品集构筑
        </div>
        <div>
          学习绘画&软件的基础； 培养熟练的绘画功底+软件操作能力
        </div>
      </div>
    </div>
    <div>
      <h4 class="text-warning">
        / 费 用 /
      </h4>
      约2万元/人， 共30小时课时<br>
      （15次以上课程，约3个月）<br>
      * 具体课程时间费用以合同为准
    </div>
  </div>
  <div id="literature" class="w-100 my-5">
    <div class="position-relative text-center">
      <img src="./assets/img/course-detail/literature/header.jpg" class="w-100"/>
      <img src="./assets/img/course-detail/literature/circle-bg.png" class="h-100 position-absolute overflow"/>
      <div class="position-absolute overflow">留学文书服务</div>
    </div>
  </div>
  <div class="w-60 mx-auto d-flex flex-column">
    <div>
      <h4 class="text-warning">
        / 适 用 人 群 /
      </h4>
    </div>
    <div class="d-flex flex-row flex-nowrap">
      <div class="mb-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        所有专业<br>
        计划出国<br>
        的学生
      </div>
      <div class="mb-5 mx-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        对申请文书<br>
        无从下手
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        需原创定制<br>
        深度修改文书
      </div>
    </div>
    <div class="mb-5">
      <h4 class="text-warning">
        / 包 括 / 
      </h4>
      留学文书定制服务<br>
      安排专属文书顾问，采集原稿和相关信息素材<br>
      沟通互动，研究申请需求，分析申请者背景和素材<br>
      挖掘个人申请优势，交流撰写意见<br>
      完成文书撰写，对文书内容、结构、语言等进行个性化定制<br>
      留学文书高级翻译服务<br>
      安排高级翻译顾问，采集中文文书原稿<br>
      完成文书译稿，100%人工精译，确保用词准确
    </div>
    <div>
      <h4 class="text-warning">
        / 费 用 /
      </h4>
      1.2 万/人（英国）<br>
      1.5 万/人（意大利）<br>
      2 万元/人（美国）<br>
      2 万元/人（日本）<br>
      1.5万元/人 起（其他国家）
    </div>
  </div>
  <div id="brainstorm" class="w-100 my-5">
    <div class="position-relative text-center">
      <img src="./assets/img/course-detail/brainstorm/header.jpg" class="w-100"/>
      <img src="./assets/img/course-detail/brainstorm/circle-bg.png" class="h-100 position-absolute overflow"/>
      <div class="position-absolute overflow">小组思维破冰</div>
    </div>
  </div>
  <div class="w-60 mb-5 mx-auto d-flex flex-column">
    <div>
      <h4 class="text-warning">
        / 适 用 人 群 /
      </h4>
    </div>
    <div class="d-flex flex-row flex-nowrap">
      <div class="mb-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        申请本科<br>
        研究生
      </div>
      <div class="mb-5 mx-5 d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
        申请专业的<br>
        高中/本科/<br>
        研究生/<br>
        已工作人群
      </div>
    </div>
    <div class="mb-5">
      <h4 class="text-warning">
        / 课 程 描 述 / 
      </h4>
      Workshop形式的小组课程<br>
      通过实践、小组讨论、进行作品集的创作<br>
      此课程最少开课人数为4人<br>
      一般需要提前进行预约排课
    </div>
    <div>
      <h4 class="text-warning">
        / 课 程 包 括 / 
      </h4>
    </div>
    <div class="d-flex flex-row flex-nowrap">
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          思维破冰
        </div>
        <div>
          打破专业固化的思维方式，  增加多角度的视角来审视作品，了解国外基础课程，让学员提前适应国外的小组讨论的学习模式
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          TEAM WORK<br>
          实践
        </div>
        <div>
          培养学生的团队协作和沟通能力，为学生已具备的艺术知识提供输出的机会，同时提高学生在以后国外求学甚至国内工作中的沟通协作能力
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          作品集构筑
        </div>
        <div>
          进行作品集项目辅导， 丰富作品集内容， 全面把控作品集质量及进度
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          留学CLUB
        </div>
        <div>
          海外导师的课堂讲座，让学员对艺术视角有更前沿独特的理解
        </div>
      </div>
      <div class="mb-5 d-flex justify-content-center align-items-center text-warning addition-container">
        +
      </div>
      <div class="mb-5 d-flex flex-column square-container">
        <div class="d-flex justify-content-center align-items-center border border-warning text-warning text-center square">
          面试模拟
        </div>
        <div>
          根据以往的面试问题及技巧来指导，进行模拟面试
        </div>
      </div>
    </div>
    <div>
      <h4 class="text-warning">
        / 费 用 /
      </h4>
      3000元 ~ 4000元/人<br>
      共16小时（总约四周/一个月）<br>
      为4次小组授课（每次约为4小时）
    </div>
  </div>
</section>
<!-- course-detail -->