<section id="major-list">
  <div class="slogan" [style.background-image]="'url(./assets/img/header/majors.jpg)'"></div>
  <div class="d-flex flex-column bg-grey">
    <div class="w-70 mx-auto d-flex flex-column">
      <div class="w-100 my-3">
        <h4>热门专业</h4>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-between">
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/室内设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            25%<br>
            室内设计<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/平面设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            15%<br>
            平面设计<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/交互设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            15%<br>
            交互设计<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/插画设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            10%<br>
            插画设计<br>
            INTERIOR DESIGN
          </div>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-between">
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/舞美设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            10%<br>
            舞美设计<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/建筑设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            10%<br>
            建筑设计<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/动画.png" class="w-100"/>
          </div>
          <div class="ml-4">
            8%<br>
            动画<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/游戏设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            7%<br>
            游戏设计<br>
            INTERIOR DESIGN
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 mb-7 d-flex flex-row flex-wrap justify-content-between">
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/平面.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        平面设计<br>
        GRAPHIC DESIGN
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/舞台.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        舞台设计<br>
        THEATRE DESIGN
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/平面.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        工业设计<br>
        INDUSTRIAL DESIGN
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/平面.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        交互设计<br>
        INTERACTION DESIGN
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/珠宝.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        珠宝设计<br>
        JEWELLRY DESIGN
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/纯艺.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        纯艺术<br>
        FINE ART
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/动画.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        动画<br>
        ANIMATION
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/摄影.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        摄影<br>
        PHOTOGRAPHY
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/建筑.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        建筑<br>
        ARCHITECTURE
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/室内.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        室内设计<br>
        INTERIOR DESIGN
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/插画.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        插画设计<br>
        ILLUSTRATION DESIGN
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/游戏.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        游戏设计<br>
        GAME DESIGN
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/展示.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        景观设计<br>
        DISPLAY DESIGN
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/时尚.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        时尚管理<br>
        FASION MANAGEMENT
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/音乐.jpg" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        音乐作曲<br>
        MUSICAL COMPOSITION
      </div>
    </div>
    <div class="w-23 mb-4 position-relative">
      <img src="./assets/img/majors/更多.png" class="w-100"/>
      <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
        了解更多<br>
        TO KNOW MORE
      </div>
    </div>
  </div>
</section>
<!-- major list -->
<app-promotions></app-promotions>
