<section id="major-list">
  <div class="banner" [style.background-image]="'url(http://static.motionsh.cn/images/majors.jpg)'"></div>
  <div class="d-flex flex-column bg-grey">
    <div class="w-70 mx-auto d-flex flex-column">
      <div class="w-100 my-3">
        <h4>热门专业</h4>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-between">
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/室内设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            25%<br>
            室内设计<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/平面设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            15%<br>
            平面设计<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/交互设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            15%<br>
            交互设计<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/插画设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            10%<br>
            插画设计<br>
            INTERIOR DESIGN
          </div>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-between">
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/舞美设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            10%<br>
            舞美设计<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/建筑设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            10%<br>
            建筑设计<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/动画.png" class="w-100"/>
          </div>
          <div class="ml-4">
            8%<br>
            动画<br>
            INTERIOR DESIGN
          </div>
        </div>
        <div class="w-20 mb-4 d-flex flex-row flex-nowrap align-items-center">
          <div class="w-50">
            <img src="./assets/img/majors/popular/游戏设计.png" class="w-100"/>
          </div>
          <div class="ml-4">
            7%<br>
            游戏设计<br>
            INTERIOR DESIGN
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto mt-6 mb-7 d-flex flex-row flex-wrap justify-content-between">
    <div *ngFor="let major of majors$ | async" class="w-23 mb-4 position-relative">
      <a [routerLink]="'/majors/' + major.id" class="hover-effect">
        <img [src]="major.thumbnailUrl" class="w-100"/>
        <div class="overlay pl-3 position-absolute d-flex justify-content-start align-items-center text-white">
          {{major.name.zh}}<br>
          {{major.name.en}}
        </div>
      </a>
    </div>
  </div>
</section>
<!-- major list -->
<app-promotions></app-promotions>
