/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'SourceHanSansCN';
    src: url("/assets/fonts/SourceHanSansCN-Normal.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
  padding: 0;
  border: 0;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
  font-family: 'SourceHanSansCN', 'arial', sans-serif;
}

.banner {
  background-size: cover;
  min-height: 500px;
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

.t-50 {
  top: 50%;
}

.l-50 {
  left: 50%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.ml-6 {
  margin-left: 5rem;
}

.ml-7 {
  margin-left: 10rem;
}

.mt-6 {
  margin-top: 5rem;
}

.mt-7 {
  margin-top: 10rem;
}

.mb-6 {
  margin-bottom: 5rem;
}

.my-6 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mb-7 {
  margin-bottom: 10rem;
}

.my-7 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.pt-6 {
  padding-top: 5rem;
}

.pt-7 {
  padding-top: 10rem;
}

.pt-8 {
  padding-top: 20rem;
}

.pb-6 {
  padding-bottom: 5rem;
}

.pb-7 {
  padding-bottom: 10rem;
}

.pb-8 {
  padding-bottom: 20rem;
}
