<section id="home">
  <div class="banner" [style.background-image]="'url(http://static.motionsh.cn/images/home.jpg)'"></div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">为什么选择7APM</h4>
      <h4 class="text-center text-warning">WHY 7APM?</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto mt-5 mb-7 d-flex flex-column">
    <div class="d-flex flex-row flex-nowrap justify-content-between">
      <div class="w-25 position-relative">
        <img src="./assets/img/home/left.png" class="w-100"/>
        <div class="w-100 text-center position-absolute overflow">
          <span>高水准团队<br/>1对1私人辅</span>
        </div>
      </div>
      <div class="w-25 position-relative">
        <img src="./assets/img/home/middle.png" class="w-100"/>
        <div class="w-100 text-center position-absolute overflow">
          <span>完善的体系<br/>控教学质量</span>
        </div>
      </div>
      <div class="w-25 position-relative">
        <img src="./assets/img/home/right.png" class="w-100"/>
        <div class="w-100 text-center position-absolute overflow">
          <span>不仅仅是一家<br/>艺术留学机构</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">课程推荐</h4>
      <h4 class="text-center text-warning">COURSES RECOMMENDATION</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto mt-5 mb-7 d-flex flex-column">
    <div class="d-flex flex-row flex-nowrap justify-content-between">
      <div class="w-20 d-flex flex-column">
        <a routerLink="/courses/detail" fragment="basic" class="nostyle">
          <div class="hoverbox position-relative">
            <div class="hoverbox-overlay position-absolute"></div>
            <img src="./assets/img/home/courses-1.jpg" class="w-100"/>
            <div class="hoverbox-text fadeIn-bottom position-absolute text-center text-white">
              <p>
                针对零基础学员， 转专业，业余爱好者的基础进行辅导
                理顺艺术风格流变，提升品味与艺术鉴赏力
              </p>
            </div>
          </div>
          <div class="mt-3 text-center hover-text">专业基础辅导课</div>
        </a>
      </div>
      <div class="w-20 d-flex flex-column">
        <a routerLink="/courses/detail" fragment="brainstorm" class="nostyle">
          <div class="hoverbox position-relative">
            <div class="hoverbox-overlay position-absolute"></div>
            <img src="./assets/img/home/courses-2.jpg" class="w-100"/>
            <div class="hoverbox-text fadeIn-bottom position-absolute text-center text-white">
              <p>
                让学生提前适应国外小组
                讨论的学习模式，
                进行跨专业的交流
                有利于碰撞出独特的
                思维和创意点，
                不局限于某一专业的领域
              </p>
            </div>
          </div>
          <div class="mt-3 text-center hover-text">小组思维破冰课</div>
        </a>
      </div>
      <div class="w-20 d-flex flex-column">
        <a routerLink="/courses/detail" fragment="customization" class="nostyle">
          <div class="hoverbox position-relative">
            <div class="hoverbox-overlay position-absolute"></div>
            <img src="./assets/img/home/courses-3.jpg" class="w-100"/>
            <div class="hoverbox-text fadeIn-bottom position-absolute text-center text-white">
              <p>
                精确把握每个时间节点，
                为学员定制完整体系。
                结合海外艺术名校背景
                导师的建议给出专业指导。
              </p>
            </div>
          </div>
          <div class="mt-3 text-center hover-text">VIP私人定制课</div>
        </a>
      </div>
      <div class="w-20 d-flex flex-column">
        <a routerLink="/courses/detail" fragment="optimization" class="nostyle">
          <div class="hoverbox position-relative">
            <div class="hoverbox-overlay position-absolute"></div>
            <img src="./assets/img/home/courses-4.jpg" class="w-100"/>
            <div class="hoverbox-text fadeIn-bottom position-absolute text-center text-white">
              <p>
                根据个人风格与目标院校
                要求， 对作品集优化升级，
                打造专属作品集，为申请
                目标院校增加胜利的筹码。
              </p>
            </div>
          </div>
          <div class="mt-3 text-center hover-text">作品集视觉优化</div>
        </a>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">留学项目计划</h4>
      <h4 class="text-center text-warning">STUDY PROGRAM PLAN</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto mt-5 mb-7 d-flex flex-column">
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-1.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>全方位评估</b><br/>
            从五个纬度对学生进行全面完善的能力评估，<br/>
            制定专属培训方案。
          </span>
        </div>
      </div>
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-2.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>1对1基础项目辅导</b><br/>
            夯实基础，重塑艺术思维方式，完成基础项目。
          </span>
        </div>
      </div>
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-3.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>1对1进阶项目辅导</b><br/>
            尝试大量不同材料和媒介，教授一对一面授，<br/>
            打造进阶项目。
          </span>
        </div>
      </div>
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-4.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>1对1专业项目辅导</b><br/>
            多角度深层次打造专业拔高项目。
          </span>
        </div>
      </div>
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-5.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>作品集审核</b><br/>
            严苛的四重审核，打造高标准的优异作品集。
          </span>
        </div>
      </div>
      <div class="w-50 d-flex flex-row flex-nowrap justify-content-start align-content-center">
        <div class="w-25">
          <img src="./assets/img/courses/plans-6.png" class="w-100"/>
        </div>
        <div class="pl-2 pt-3">
          <span>
            <b>作品集提升</b><br/>
            专业排版更锦上添花，打造彰显个性的好作品。
          </span>
        </div>
      </div>
      <div class="mx-auto mb-5">
        <a class="text-black-50" routerLink="/courses">了解更多</a>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">学校推荐</h4>
      <h4 class="text-center text-warning">SCHOOL RECOMMENDATION</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto mt-5 mb-6 d-flex flex-column">
    <div class="input-group">
      <input class="form-control border border-warning" placeholder="输入关键字">
      <span class="input-group-append">
        <button class="btn btn-outline-warning" type="button">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </span>
    </div>
    <div class="mt-1 ml-1 text-black-50">
      <span>
        热门搜索：<a routerLink="/colleges/parsons" class="nostyle text-black-50">帕森斯设计学院</a>
        | <a routerLink="/colleges/risd" class="nostyle text-black-50">罗德岛设计学院</a>
        | <a routerLink="/colleges/st-martin" class="nostyle text-black-50">中央圣马丁</a>
      </span>
    </div>
    <div class="mt-5">
      <b>按条件筛选</b><br>
      <span>
        <b>国家</b>&nbsp;
        <a routerLink="/colleges" class="nostyle">全部</a>&nbsp;
        <a routerLink="/colleges" [queryParams]="{ country: 'us' }" class="nostyle">美国</a>&nbsp;
        <a routerLink="/colleges" [queryParams]="{ country: 'uk' }" class="nostyle">英国</a>&nbsp;
        <a routerLink="/colleges" class="nostyle">欧洲</a>&nbsp;
        <a routerLink="/colleges" [queryParams]="{ country: 'rest' }" class="nostyle">其他</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>学历</b> 全部 本科 研究生
      </span>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="w-90 mx-auto d-flex flex-row flex-wrap justify-content-start align-items-center">
      <div class="mr-3 w-40">
        <a routerLink="/colleges/parsons">
          <img src="http://static.motionsh.cn/images/college/parsons_thumbnail.jpg" class="w-100 image-border"/>
        </a>
      </div>
      <div class="ml-3">
        留学预算：$42030<br>
        语言成绩：托福92 / 雅思7.0<br>
        申请截止：早申11月1日 / 常规1月15日<br>
        优质专业：室内设计 / 服装设计 / 插画设计...
      </div>
      <div class="w-100 mt-2 d-flex justify-content-end">
        <button type="button" class="btn btn-light rounded-0" routerLink="/colleges/parsons">了解申请流程</button>
        <button type="button" class="ml-2 btn btn-light rounded-0" disabled>获取留学方案</button>
      </div>
    </div>
    <hr class="divider">
    <div class="w-90 mx-auto d-flex flex-row flex-wrap justify-content-start align-items-center">
      <div class="mr-3 w-40">
        <a routerLink="/colleges/st-martin">
          <img src="http://static.motionsh.cn/images/college/st_martin_thumbnail.jpg" class="w-100 image-border"/>
        </a>
      </div>
      <div class="ml-3">
        留学预算：$15180<br>
        语言成绩：托福N/A / 雅思6.0<br>
        申请截止：1月15日<br>
        优质专业：室内设计 / 服装设计 / 插画设计 / 平面设计...
      </div>
      <div class="w-100 mt-2 d-flex justify-content-end">
        <button type="button" class="btn btn-light rounded-0" routerLink="/colleges/st-martin">了解申请流程</button>
        <button type="button" class="ml-2 btn btn-light rounded-0" disabled>获取留学方案</button>
      </div>
    </div>
    <hr class="divider">
    <div class="w-90 mx-auto d-flex flex-row flex-wrap justify-content-start align-items-center">
      <div class="mr-3 w-40">
        <a routerLink="/colleges/risd">
          <img src="http://static.motionsh.cn/images/college/risd_thumbnail.jpg" class="w-100 image-border"/>
        </a>
      </div>
      <div class="ml-3">
        留学预算：$45530<br>
        语言成绩：托福93 / 雅思6.5<br>
        申请截止：早申11月1日 / 常规2月1日<br>
        优质专业：工业设计 / 平面设计 / 多媒体设计 / 建筑设计...
      </div>
      <div class="w-100 mt-2 d-flex justify-content-end">
        <button type="button" class="btn btn-light rounded-0" routerLink="/colleges/risd">了解申请流程</button>
        <button type="button" class="ml-2 btn btn-light rounded-0" disabled>获取留学方案</button>
      </div>
    </div>
    <hr class="divider">
    <div class="mx-auto mb-5">
      <a class="text-black-50" routerLink="/colleges">了解更多</a>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">艺术专业</h4>
      <h4 class="text-center text-warning">ART MAJORS</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto mt-5 mb-7 d-flex flex-column">
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="w-20">
        <a routerLink="/majors/graphic-design" class="hover-effect">
          <img src="./assets/img/home/majors-1.jpg" class="w-100 scale-effect"/>
        </a>
        <div class="mt-3 text-center">平面设计</div>
      </div>
      <div class="w-20">
        <a routerLink="/majors/theatre-design" class="hover-effect">
          <img src="./assets/img/home/majors-2.jpg" class="w-100 scale-effect"/>
        </a>
        <div class="mt-3 text-center">舞台设计</div>
      </div>
      <div class="w-20">
        <a routerLink="/majors/interior-design" class="hover-effect">
          <img src="./assets/img/home/majors-3.jpg" class="w-100 scale-effect"/>
        </a>
        <div class="mt-3 text-center">室内设计</div>
      </div>
      <div class="w-20">
        <a routerLink="/majors" class="hover-effect">
          <img src="./assets/img/home/majors-4.jpg" class="w-100 scale-effect"/>
        </a>
        <div class="mt-3 text-center">了解更多</div>
      </div>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">团队导师</h4>
      <h4 class="text-center text-warning">OUR INSTRUCTORS</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto mt-5 mb-7 d-flex flex-column">
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="w-30 mb-3 px-3">
        <div class="w-90 mx-auto">
          <img src="http://static.motionsh.cn/images/portrait/H.Chenchen.png" class="w-100"/>
        </div>
        <div class="w-90 mx-auto mt-2 text-center">
          <span>
            英国皇家艺术学院<br>
            陶瓷与玻璃 硕士<br>
            中央圣马丁艺术设计学院<br>
            家具陶瓷与珠宝 硕士
          </span>
        </div>
      </div>
      <div class="w-30 mb-3 px-3">
        <div class="w-90 mx-auto">
          <img src="http://static.motionsh.cn/images/portrait/H.Yiman.png" class="w-100"/>
        </div>
        <div class="w-90 mx-auto mt-2 text-center">
          <span>
            中央圣马丁设计与艺术学院<br>
            叙事性环境 硕士
          </span>
        </div>
      </div>
      <div class="w-30 mb-3 px-3">
        <div class="w-90 mx-auto">
          <img src="http://static.motionsh.cn/images/portrait/L.Kaichen.png" class="w-100"/>
        </div>
        <div class="w-90 mx-auto mt-2 text-center">
          <span>
            中央圣马丁设计艺术学院<br>
            创意产业管理 硕士
          </span>
        </div>
      </div>
      <div class="w-30 mb-3 px-3">
        <div class="w-90 mx-auto">
          <img src="http://static.motionsh.cn/images/portrait/Y.Manchee.png" class="w-100"/>
        </div>
        <div class="w-90 mx-auto mt-2 text-center">
          <span>
            中央圣马丁艺术与设计学院<br>
            传达设计 硕士
          </span>
        </div>
      </div>
      <div class="w-30 mb-3 px-3">
        <div class="w-90 mx-auto">
          <img src="http://static.motionsh.cn/images/portrait/Raiden Zhou.png" class="w-100"/>
        </div>
        <div class="w-90 mx-auto mt-2 text-center">
          <span>
            伦敦艺术大学<br>
            数字舞台 硕士
          </span>
        </div>
      </div>
      <div class="w-30 mb-3 px-3">
        <div class="w-90 mx-auto">
          <img src="http://static.motionsh.cn/images/portrait/Henry Lawrence.png" class="w-100"/>
        </div>
        <div class="w-90 mx-auto mt-2 text-center">
          <span>
            Camberwell College of Art<br>
            Visual Arts MA
          </span>
        </div>
      </div>
    </div>
    <div class="mx-auto mb-5">
      <a class="text-black-50" routerLink="/tutors">了解更多</a>
    </div>
  </div>
  <div class="w-70 mx-auto mt-5 d-flex flex-column">
    <div class="mx-auto">
      <h4 class="text-center text-warning">活动咨询</h4>
      <h4 class="text-center text-warning">ACTIVITIES & NEWS</h4>
    </div>
  </div>
  <hr class="charpter-divider">
  <div class="w-70 mx-auto mt-5 mb-7 d-flex flex-column">
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="w-20">
        <a routerLink="/consulting" fragment="art-tour" class="hover-effect">
          <img src="./assets/img/home/news-1.jpg" class="w-100 scale-effect"/>
        </a>
        <div class="mt-3 text-center">艺术游学</div>
      </div>
      <div class="w-20">
        <a routerLink="/consulting" fragment="art-exhibition" class="hover-effect">
          <img src="./assets/img/home/news-2.jpg" class="w-100 scale-effect"/>
        </a>
        <div class="mt-3 text-center">艺术展览</div>
      </div>
      <div class="w-20">
        <a routerLink="/consulting" fragment="linguistics-workshop" class="hover-effect">
          <img src="./assets/img/home/news-3.jpg" class="w-100 scale-effect"/>
        </a>
        <div class="mt-3 text-center">语言工坊</div>
      </div>
      <div class="w-20">
        <a routerLink="/consulting" fragment="scholarship-program" class="hover-effect">
          <img src="./assets/img/home/news-4.jpg" class="w-100 scale-effect"/>
        </a>
        <div class="mt-3 text-center">奖励金机会</div>
      </div>
    </div>
  </div>
</section>
<!-- home -->
