.overflow {
  left: 0;
  top: 40%;
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

.nostyle {
  color: inherit;
  text-decoration: inherit;
}

.banner u {
  text-decoration: none;
  border-bottom: 4px solid #ffff6a;
  padding-bottom: 1px;
}

.topbar {
  background-position: center;
  background-size: cover;
}

.image-border {
  border: 2px solid transparent;
}

.image-border:hover {
  border: 2px solid #e5c13e;
}

.hoverbox {
  overflow: hidden;
}

.hoverbox .hoverbox-overlay {
  background: rgba(0,0,128,0.8);
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hoverbox:hover .hoverbox-overlay{
  opacity: 1;
}

.hoverbox-text {
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.hoverbox:hover .hoverbox-text{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.hoverbox:hover + .hover-text {
  color: #e5c13e;
}

.hoverbox-text p {
  margin: 1rem;
}

.hover-text:hover {
  color: #e5c13e;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.scale-effect {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.scale-effect:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.hover-effect:hover + div {
  color: #e5c13e;
}   
